[2014-02-12 02:09] malachig commented on #53
4.) A basic user manual of common commands needed run the pipelines needs to be created.

5.) Easy to use utilities for adding disk to the system and adding extra nodes for processing need to be created.

[2014-02-12 02:33] malachig commented on #98
I have now dropped use of `genome-apt-config`.  All configuration is now specified in the make target `done-host/etc` and these files:
https://github.com/genome/gms/blob/ubuntu-12.04/setup/etc/apt%2Bpreferences
https://github.com/genome/gms/blob/ubuntu-12.04/setup/etc/apt%2Bsources.list.d%2Bgenome.list
https://github.com/genome/gms/blob/ubuntu-12.04/setup/etc/apt%2Bsources.list.d%2Br-cran.list

De

[2014-02-12 02:58] malachig commented on #97
For now I have modified the make target 'done-host/pkgs' to install the version of 'Set::IntervalTree' in genome-vendor (https://github.com/genome-vendor/libset-intervaltree-perl) instead of using the latest version from CPAN.  As soon as our precise debian packages are sorted out ( #98 ) we will get this package from there and this code can be removed from the Makefile:

[code]

Commit: https://g

[2014-02-12 04:59] obigriffith commented on #76
Still getting this error with 1000-fold downsampled data. We thought we had this fixed by using much deeper (but still downsampled) data focused on only chr21 and chr22. That dataset had other problems due to still insufficient numbers of variants. So, we also added 50 gene regions with normal depth. But, now mysteriously, this error seems to have returned. Not sure why.

[2014-02-12 08:52] sakoht commented on #98
Nice.

Sent from my iPhone

[2014-02-12 17:43] ghost commented on #57
Once an end user has imported their data, what pipelines should they expect to run?  I believe the answer to this question will help direct my focus towards exactly the kinds of information that need to be imported.

Right now I'm considering the creation of:
- taxons
- individuals
- samples
- libraries
- instrument data
- disk allocations for instrument data

It is possible that there are other i

[2014-02-12 18:14] gatoravi commented on #57
The goal so far as I understand is to get to a successful build of a ClinSeq model for HCC1395, this means we need all the underlying models of Clinseq to have successful builds,

These are,
1. genotype array models for normal and tumor
2. exome-ref-align models for normal, tumor
3. WGS-ref-align models for normal, tumor
4. exome-somatic variation model
5. WGS-somatic variation model
6. rna-seq mo

[2014-02-13 00:59] sakoht commented on #57
Yep!

On Wed, Feb 12, 2014 at 10:14 AM, Avinash Ramu notifications@github.comwrote:

[2014-02-13 03:06] malachig commented on #42
There is still something wrong with the package config on clia1 where apt config setup by puppet and the makefile are likely conflicting...

I was eventually able to get the build to proceed successfully using a combination of the following (but I still need to figure out exactly what is needed to reproduce the install consistently).

[code]

Documentation on fixing broken packages:
http://askubun

[2014-02-13 20:48] malachig commented on #42
I think I have this working now.  The above thread was becoming hard to follow so I have consolidated the instructions for setting up clia1 here:

https://github.com/genome/gms/blob/ubuntu-12.04/setup/system_tests/clia1

[2014-02-13 21:56] sakoht commented on #42
Nice.

Is the /gscuser home dir required for things to run smoothly?

[2014-02-14 01:46] malachig commented on #42
No just a matter of convenience for me so that I can configure my ssh
keys and avoid annoying warnings when I log in.  This is totally
specific to the clia1 which is not really a vanilla ubuntu install.

mg

On 2/13/14, 4:56 PM, Scott Smith wrote:

[2014-02-14 16:41] malachig commented on #49
The documentation content of this  issue has been moved to the wiki. Closing this issue.

[2014-02-14 16:41] #49 closed, assigned to malachig

[2014-02-14 16:53] malachig commented on #27
I think above description adequately explains what it going on here now.  Closing for now.

[2014-02-14 16:53] #27 closed, assigned to sakoht

[2014-02-14 16:54] malachig commented on #58
This documentation has been move to the sGMS wiki.  Closing.

[2014-02-14 16:54] #58 closed, assigned to malachig

[2014-02-14 16:56] malachig commented on #90
This information has been moved to the sGMS wiki.  Closing.

[2014-02-14 16:56] #90 closed, assigned to malachig

[2014-02-14 16:57] malachig commented on #92
This information has been moved to the sGMS wiki.  Closing.

[2014-02-14 16:57] #92 closed, assigned to malachig

[2014-02-14 16:59] malachig commented on #71
Considerable testing of openlava2.2 has been completed.  The problem described above relating to memory reservations seems to perhaps be particular to using openlava on a VM and has not been observed elsewhere.  Closing this issue.

[2014-02-14 16:59] #71 closed, assigned to malachig

[2014-02-14 17:02] malachig commented on #63
If the removal of use of apt-genome-config is successful (as described in #98 ), this issue will be resolved.  Testing underway.

[2014-02-14 17:05] malachig commented on #73
This issue has been resolved.

[2014-02-14 17:05] #73 closed, assigned to malachig

[2014-02-14 22:11] malachig opened #99 "Installer fails when a perl module attempts to use Module::Runtime"
Latest attempt to install sGMS in a VM is failing the first time it tries to run code that uses Genome:

[code]

[2014-02-14 22:23] malachig commented on #99
It looks like this line was added to UR recently by @nnutter

[code]

That was added to master in this commit:
https://github.com/genome/UR/commit/2efdfac61874f9343c0f17dd53b05615ae03faad

In the sGMS install we are using a UR tag called 'gms-pub-tag'.  This tag has mysteriously disappeared.  The install was working just fine last night, so perhaps either the removal of this tag happened very rece

[2014-02-14 22:26] malachig commented on #99
Actually I spoke too soon.  The tag is still there.  Investigating further.

[2014-02-14 22:32] malachig commented on #99
Huh.  We are attempting to clone a particular tag, and I believe this was working but it now failing for me:

[code]

As predicted above, git fails to find the requested tag and clones master instead.

[2014-02-14 22:40] malachig commented on #99
Attempts to clone other tags also fail and result in master being cloned instead.

[2014-02-14 22:55] gatoravi commented on #99
this just worked for me

[code]

perhaps a git version issue ?

[2014-02-14 23:38] malachig commented on #99
Yeah.  Maybe.  It still does not work for me:

[code]

Although, it is not expected that the version of git has changed in the install.  The command above is not supported in this older version of git.  Perhaps it was never working and we just didn't realize that we were getting master and that it was working until recently...

[2014-02-14 23:42] malachig commented on #99
For compatibility we can try this instead:

[code]

Since older versions of git will fail to checkout out unrecognized branches and just give a warning (checking out default branch instead) - but being on the right branch or tag is so important potentially, we should consider adding some checks to the make.  In the past I have had success with a check like this:

[code]

[2014-02-15 00:26] malachig commented on #99
I tested this command on the default git for Ubuntu precise (version 1.7.9.5) and also built the latest version of git and tested it there (version 1.9.0).  This syntax seems to work in both cases so I will change the make to do that instead.  I will also experiment with checks like this for each branch/tag checked out:

[code]

[2014-02-15 01:00] sakoht commented on #99
A commit 4 days ago added this dependency:

genome/UR@2efdfac

Sent from my iPhone

[2014-02-15 01:00] sakoht commented on #99
nm: I'm way behind Malachi on this.

[2014-02-15 04:29] malachig commented on #99
I think I have fixed this and added sanity checks so that the make will fail if the correct branch or tag is not successfully installed.
https://github.com/genome/gms/commit/ca99808d8ba4cc5da8d5817c7f8e80f18dbceb6d

Looks like this now:

[code]

Tests of that make target seem to be working as expected.  If you specify a tag or branch incorrectly it fails.  And now the specified branch or tag is ac

[2014-02-15 14:55] malachig opened #100 "R package 'filehash' can no longer be installed in R-2.15.2 via install.packages()"
Something has changed in the R package management system.  While this package 'filehash' is still available, will install successfully and seems to be working.  It is no longer official supported.  I will change the method of installation for this package to use a manual install procedure.  I chose the version of this package currently used in TGI (filehash_2.2-1).

[code]

[2014-02-15 16:48] malachig commented on #100
This is working and was added here:
https://github.com/genome/gms/commit/daf45087feb9663c65ea18a276d8d9fb90cfb1ea

I have also added a check for successful installation of all packages to the make target: done-host/custom-r
https://github.com/genome/gms/commit/0c713003b50d04a77557b163da1bcef89e68b43a

Hopefully this will help us avoid the case where the R installation has broken and we fail to not

[2014-02-15 17:41] sakoht commented on #100
Awesome.

Sent from my iPhone

[2014-02-15 21:48] malachig commented on #100
I am concerned that even if nothing changes on our end, the installation can regularly break because of the actions of the R development team.  They seem to routinely break package dependencies in older versions of R.  Furthermore, older versions of packages are not guaranteed to be available in the future.  There are versions of packages we are using in production at TGI that are now unavailable

[2014-02-16 05:54] sakoht commented on #100
If the R packages were part of the apt mirror used during installation this wouldn't be a concern.

Sent from my iPhone

[2014-02-17 18:34] malachig commented on #100
Yes, I stated this in my last comment: "If we can build a debian package of every R dependency, this problem will go away."

They **are** part of the apt mirror right now.  Indeed we are installing R and our dependencies two ways.  One of those ways is from Debian packages.  This debian based install currently "succeeds" but results in a completely broken installation of R.  Many R libraries can n

[2014-02-17 22:54] malachig commented on #100
I switched to using the static tarball of R CRAN packages in these commits:
https://github.com/genome/gms/commit/08cafe6c94829b0283ba6a27609090dfb23653c1
https://github.com/genome/gms/commit/a2e53570d1b5d1f88855ea7da02684d8f911973c

Hopefully this improves stability of the install while we work towards a more robust solution involving Debian packages.  As I mentioned above, installation of BioCond

[2014-02-18 01:16] sakoht commented on #100
Yeah probably wise.

I wish that cran2deb could be trusted more but it is kinda the Wild West.  With luck, over time, it will mature to a more rigorous level of stability.

[2014-02-18 06:35] ernfrid commented on #76
Obi, I have turned this check off. There's no way to differentiate a failed run from one that has no calls. It will now have an error message but shouldn't die. I haven't tested how this might affect downstream modules, so there may be crashes in other SV related items.

Commit is: 35afe69b3d96bc4b75e871bbd025aed074efe8f1 on gms-core if you want to cherry pick it.

[2014-02-18 14:41] ghost commented on #57
Do any of these models strictly require microarray data?  I understand that some models may optionally accept microarray data to enable QC.  Right now we do not have a mechanism to import microarray data.

[2014-02-18 15:05] malachig commented on #57
No. They are an optional but desired input for reference alignment.  If
used there, they will also be used in clinseq for cnv analysis.

Malachi
On Feb 18, 2014 8:41 AM, "mkiwala-g" notifications@github.com wrote:

[2014-02-18 20:40] malachig opened #101 "Can not create model groups in standalone GMS"
The following command works within TGI but does not work in the sGMS:

[code]

Gives the following output:

[code]

[2014-02-18 22:04] gatoravi commented on #101
Not sure why but this seems to be trying to access a 'processing-profile converge' entry in the database. The name of the processing profile is 'convergence default'

This command lists the processing-profile that we need within the TGI but on the blade it shows up as empty.

[code]

We currently don't seem to be exporting this processing-profile in the Genome::Model::Export:Metadata step.

[2014-02-18 22:07] ernfrid commented on #101
When modelgroups are created a convergence model is also created. I
believe this is the processing profile for that model. Perhaps it's not
being dumped into the sGMS database?

---

This email message is a private communication. The information transmitted, including attachments, is intended only for the person or entity to which it is addressed and may contain confidential, privileged, and/or pr

[2014-02-18 22:42] gatoravi commented on #101
Currently the metadata exporter dumps all the objects which a clinseq model depends on and their underlying objects recursively. We might have to export this processing profile explicitly.

[2014-02-19 01:40] jasonwalker80 commented on #101
I believe a recent commit removes the creation of convergence models when a
model group is created.

On Tue, Feb 18, 2014 at 4:42 PM, Avinash Ramu notifications@github.comwrote:

##

Jason Walker
9 Traver Tine Circle
Millstadt, IL 62260
Cell:(618)534-8089

[2014-02-19 04:50] ernfrid commented on #101
Looks like genome/gms-core@a72321af552aba1373a1b5ec1e69d237af2396d9 is that commit.

---

This email message is a private communication. The information transmitted, including attachments, is intended only for the person or entity to which it is addressed and may contain confidential, privileged, and/or proprietary material. Any review, duplication, retransmission, distribution, or other use of, o

[2014-02-19 16:05] gatoravi commented on #101
Thanks @jasonwalker80  and @ernfrid. Pulling in those changes from master seems to allow creation of model groups. I've pushed these to gms-pub here, https://github.com/genome/gms-core/commit/aaf456e4ef6874a9a3b3aa176ec55c986fd81714

[2014-02-19 23:53] malachig opened #102 "bam-readcount fails due to hard coding to VarScan.v2.2.9.jar"
Calls to `gmt analysis coverage bam-readcount` fail because this module has this hard coding in it:

[code]

It appears that this is has already been fixed in master and therefore should in theory be resolved if we merge master into gms-pub again...

[2014-02-20 17:44] gatoravi commented on #101
"probably need to make the convergence processing profile part of install even if the user doesn't import any data.  Lots of things will fail without it."

Looks like model group creation works without creating convergence models now, but why was the decision to remove creation of convergence models made ? Are there other commands like this which might depend on this processing profile ? if yes, s

[2014-02-20 23:42] malachig commented on #1
Stale.  No details or plan defined or likely to be acted on soon to my knowledge.  Closing this issue for now.

[2014-02-20 23:42] #1 closed, assigned to sakoht

[2014-02-21 17:15] malachig commented on #3
Or maybe we should drop them entirely...  If we are not ready support them and indeed have not tested them yet, perhaps they should not be mentioned in the paper at all.  Currently we support the following:
Genotype-microarray, reference-alignment, somatic-variation, rna-seq, differential-expression, and med-seq.

But we also list additional pipelines such as de-novo-assembly, somatic-validation,

[2014-02-21 17:18] malachig commented on #6
At this point I don't think we can support the scenario where someone has a server doing various stuff and they want to install the sGMS onto that beside what they are currently doing.  If you are not prepared to dedicate hardware to the sGMS, as it stands now you will likely have serious problems with installation and configuration.

[2014-02-21 17:18] #6 closed, assigned to sakoht

[2014-02-21 17:31] malachig commented on #7
@sakoht how did you produce the grey background for these images the supplementary figure 1B?
The closest I could get was this:
![supfigureattempt](https://f.cloud.github.com/assets/856728/2232575/fda6b1a2-9b1d-11e3-93ba-45611be9a4f2.png)

[2014-02-21 17:38] malachig commented on #13
I fixed this.  Commit in gms-core gms-pub branch is here: https://github.com/genome/gms-core/commit/a97635988c47e13fe1e1fd563dccffbb2e8e69d7

This was also pushed to gms-core master branch here: https://github.com/genome/gms-core/commit/b070eea3ab348a8f9f57c20259b2fdb15f719aaa

[2014-02-21 17:51] malachig commented on #13
You can run clin-seq update analysis now.  But it wants to create rna-seq models using with 'cancer_annotation_db' as an input.  This is a new feature of the rna-seq class that has not been merged into gms-pub yet.  So we can't create models that have this input and update-analysis will not recognize the models missing this input as meeting all desired criteria.  We could create a work-around but

[2014-02-21 17:52] malachig commented on #42
Testing on clia1 is ongoing.  The latest test has been very smooth.  Almost through to the end of processing all HCC1395 data with no failures of any kind.

[2014-02-21 18:02] malachig commented on #53
Items 1-4 are well underway.

(1) we think we have all pipelines working
(2) @mkiwala-g is working on the sample importer
(3) @obigriffith @gatoravi @zskidmor are continuing to iterate on an optimal test data set that both runs fast but produces illustrative results of as many types as possible
(4) Myself, @obigriffith and @gatoravi have been working on user manuals and created a reference of many

[2014-02-21 19:46] malachig commented on #65
These tests are still underway.  Currently we are testing the latest iteration of the small test data set (a strategically selected subset of the HCC1395 data)

[2014-02-21 19:49] malachig commented on #74
This appears to all be working now but we are waiting for some test runs to complete to confirm that all SV results are created, properly merged, annotated and summarized in the clin-seq output.

[2014-02-21 19:52] malachig commented on #78
We are still using blade16-4-16 as one of our test environments.  Leaving this open for now.

[2014-02-21 19:52] gatoravi commented on #76
This commit from Dave has been merged into gms-pub here https://github.com/genome/gms-core/commit/6a4e4033094e43f15e5448e42741f95f9ddf9b7e closing for now.

[2014-02-21 19:53] #76 closed, assigned to obigriffith

[2014-02-21 19:56] gatoravi commented on #84
We have now inserted "|| 0" at the end of the appropriate lines. The mutation spectrum tool plots only the mutation categories that are seen in the data. the other plots are left empty and the tool does not error out.  this has been pushed to gms-pub here https://github.com/genome/gms-core/commit/72fc503106c6b7f32f908132095632c678e9ffd3 and master here https://github.com/genome/gms-core/commit/5ff

[2014-02-21 19:58] gatoravi commented on #84
closing for now.

[2014-02-21 19:58] #84 closed, assigned to obigriffith

[2014-02-21 19:59] malachig commented on #88
Within TGI, we can get a nice reference-alignment coverage report in the webviews.  For example, https://imp-apipe.gsc.wustl.edu/view/genome/model-group/coverage.html?id=10318a594cd54dd39fe04d5e1217dd19

Is that correct?

In the sGMS we don't use these webviews and have instead elected to use the newer, faster ruby based gms-webviews.  Does this new webview re-implement this report? If not, is the

[2014-02-21 20:03] malachig commented on #89
CummeRbund does appear to be working.  The manual R installation we are doing is far from optimal but it does appear to be working.  The latest developments on this installation methods are described in issue #100.

We can close this issue as soon as we have a new successful mutation-spectrum result from the latest round of tests.

[2014-02-21 20:04] malachig commented on #91
I believe this issue has been resolved.  Once we have obtained a successful clin-seq build on the complete HCC1395 data set with correctly annotated SV results, we can close this issue.

[2014-02-21 20:07] malachig commented on #95
This documentation exercise is well underway on the github wiki:
https://github.com/genome/gms/wiki

There is plenty of work to be done there but I am closing the issue related to getting it started.

[2014-02-21 20:07] #95 closed, assigned to gatoravi

[2014-02-21 20:09] malachig commented on #98
This all seems to be working.  Refer back to this ticket for details on how apt-config is currently handled in the sGMS.  If a problem arises, this issue can be reopened.  Closing for now.

[2014-02-21 20:09] #98 closed, assigned to malachig

[2014-02-21 20:12] malachig commented on #97
Still waiting on an update to genome-snapshot-deps so that this perl library dependency can be installed as a debian package instead of manually from the git repo as described above.  Leaving open for now.

[2014-02-21 20:13] malachig commented on #99
This is working now.  Closing the issue.

[2014-02-21 20:13] #99 closed, assigned to malachig

[2014-02-21 20:33] malachig commented on #100
Yes, it would be great if cran2deb was more thorough.  Same thing for Bioconductor which seems to be even more poorly supported in the form of Debian packages.  For now we are still thinking about building a static meta-package of all our Bioconductor dependencies.  Leaving this ticket open until that is resolved one way or the other.

[2014-02-22 15:27] obigriffith opened #103 "install error - fails to connect to repo.gsc.wustl.edu"
Getting the following error during install. Possibly the repo server is down or moved?
ps. Who is Michael Rutter?

[code]

[2014-02-22 20:27] sakoht commented on #7
That's just a standard apple screenshot.  Is your gray different than mine?

[2014-02-23 00:10] obigriffith commented on #103
This looks like something that was recently added in the epic saga of trying to get a stable/working/complete set of R packages installed. Is it as simple as making genome-institute.asc available on the ftp site instead of from repo.gsc.wustl.edu?

[2014-02-23 03:39] sakoht commented on #103
The external equivalent of `repo.gsc.wustl.edu` is `apt.genome.wustl.edu`.

Switching to this URL should do the trick:
http://apt.genome.wustl.edu/ubuntu/files/genome-institute.asc

[2014-02-23 03:54] obigriffith commented on #103
Yes. Thanks. That works.

[2014-02-23 03:54] #103 closed, assigned to obigriffith

[2014-02-24 04:50] malachig commented on #89
I think I may have spoken too soon.  CummeRbund did work on the last test on clia1, but now it is not working.  The problem may have been introduced when many R cran packages were pegged to specific versions of packages to match those used within TGI.  Furthermore, it seems that there are problems with CummeRbund within TGI as well.  I am using the following workflow to test:
http://www.bioconduct

[2014-02-24 06:34] malachig commented on #89
Confirmed.  With plyr_1.8, mutation spectrum fails and cummeRbund succeeds.  With plyr_1.4, mutation-spectrum succeeds and cummeRbund fails.  Maybe 1.5, 1.6, or 1.7 will work for both...  Or perhaps an older version of cummeRbund (assuming that it is compatible with the cuffdiff results).  Or perhaps mutation-spectrum should be updated to work with the updated version of plyr.  Perhaps @clu has al

[2014-02-24 07:42] sakoht commented on #89
If either mutation spectrum or cummeRbund is given a private install of
pylr does it get let pylr effectively upgrade separately?

Some adjacent directory to one of the tools gets the alt version and the
wrapping script tweaks the environment so it will come first.  The default
install could be the one that woks with most other libs (ggplot2?)

On Sunday, February 23, 2014, Malachi Griffith notifi

[2014-02-24 17:05] malachig commented on #89
To test the mutation-spectrum code:

[code]

To test the cummeRbund code:

[code]

Notes:
- Updating plyr from version 1.4 to version 1.5, 1.6, or 1.7 does not help
- Updating ggplot2 to version 2_0.9.2.1 (or greater most likely) allows the cummeRbund code in differential expression to succeed.  Doing so adds two more R libraries dependencies: 'memoise' (memoise_0.1.tar.gz) and 'gtable' (gtable_0.

[2014-02-24 18:24] acoffman commented on #88
Unfortunately, the new web views do not have a coverage report view and AFAIK, there isn't a plan to implement one.

[2014-02-24 18:41] sakoht commented on #88
Do you know if the plan is to keep the old web service, or to stop having
the report?

On Monday, February 24, 2014, Adam Coffman notifications@github.com wrote:

##

Sent from Gmail Mobile

[2014-02-24 23:46] malachig opened #104 "make vm fails on a fresh Mac Pro Laptop"
I just did a `make vm` on a laptop that has never seen the sGMS before.  The installation of virtualbox and vagrant seemed to go smoothly.  But when it goes to add the first VM image, I get this:

[code]

The URL is valid and I can download the precise64.box manually.  I suspect some kind of permissions issue with the way vagrant is being set up...

Similar to this issue here:
https://github.com/k

[2014-02-25 00:01] malachig commented on #104
Adding this line to the make right before attempting the `vagrant box add` seems to have cleared up this issue: `sudo chown -R `whoami`: ~/.vagrant.d`

Full make target:

[code]

[2014-02-25 04:43] sakoht commented on #104
Yeah I guess the first run of vagrant makes that dir, and b/c it is
happening under sudo on a new box, it gets made with root permissions.

On Mon, Feb 24, 2014 at 4:01 PM, Malachi Griffith
notifications@github.comwrote:

[2014-02-25 19:26] malachig commented on #89
I eventually got both cummeRbund and mutation-spectrum working by updating ggplot2 and modifying the mutation-spectrum code.  Mutation-spectrum now contains conditional logic to check the ggplot2 version.  If ggplot2 <= 0.8.9, the old syntax is used.  If ggplot2 >= 0.9.X, the new syntax is used.

Note:
I only changed the functions that are actually used in the pipelines.  Further updating might be

[2014-02-25 20:13] malachig commented on #104
I encountered a similar issue with the gms/.vagrant dir having the wrong permissions.  Fixed that, made a couple other minor tweaks and tested both `make vm` and 'make vminit && vagrant ssh && make' on both my laptop and mac pro desktop.  Seems to be working smoothly.  Relevant commits:

https://github.com/genome/gms/commit/2f2faebc928aae8d1a51604ec0baaa02dfdd235f
https://github.com/genome/gms/com

[2014-02-25 20:13] #104 closed, assigned to malachig

[2014-02-25 20:46] malachig commented on #7
The versions in the manuscript seem like they have a gradient to them...  Maybe just an optical illusion...  Anyway, the new version matches much better so I have swapped the old one with this one.  Closing this issue now.

[2014-02-25 20:46] #7 closed, assigned to sakoht

[2014-02-25 20:51] malachig commented on #54
We need to document known steps the user can take to improve performance (run times) on single box including environment variables that can be set, openlava configuration tweaks, and relevant code that could be modified.  This should be placed on the GMS wiki, then reference from here and this issue closed.

[2014-02-25 20:56] malachig commented on #64
Many undocumented iterations to these test data sets have been made.  All the latest versions are here:http://genome.wustl.edu/pub/software/gms/testdata/GMS1/subsampled_bams/

The latest/greatest test data set is this one: 'hcc1395_1tenth_percent_chr_21_22_targeted_v2/   '

This data set is an attempt to optimize for speed of processing but also produce real mutation/expression events across all o

[2014-02-25 21:03] malachig commented on #100
The custom/manual R installation is still being refactored to be more sand-boxed but this specific issue with `filehash` was resolved.  Closing.

[2014-02-25 21:03] #100 closed, assigned to malachig

[2014-02-25 21:04] malachig commented on #101
Hopefully the next merge of gms-core master into gms-core pub will resolve these ambiguities.

[2014-02-26 23:38] malachig opened #105 "CufflinksDifferentialExpression.pm.R uses ggplot2 code specific to ggplot <= 0.8.9"
Make this code work with both the new and old ggplot2 interface...

Relevant warning message:

[code]

[2014-02-27 01:46] malachig commented on #105
In addition to CufflinksDifferentialExpression.pm.R.  ggplot2 is used in the following places needed by the sGMS:

Model/Tools/Transcriptome/SpliceJunctionSummary.R
Model/ClinSeq/Command/CufflinksDifferentialExpression.pm.R
Model/ClinSeq/Command/SummarizeTier1SnvSupport.pm.R

[2014-02-27 20:07] malachig commented on #105
I believe I have fixed this here:
https://github.com/genome/gms-core/commit/025834d5d815a8761da6a722d03dc944e50d6754
https://github.com/genome/gms-core/commit/d8563ef73e35069b348999c8f7c6e603bd7003e3

To confirm that this is working we need to run a test build in sGMS and check the results in clin-seq (splice junction figures, snv data type integration figures) and differential-expression (cummeRb

[2014-02-27 22:41] malachig opened #106 "Installer fails due to missing correct version of Module::Runtime needed by updated UR"
Testing the installer with the new merged versions of UR, workflow, and gms-core.

We get this failure:

[code]

This is highly related to issue #99.  During the merge, the installer was updated to include this debian package 'libmodule-runtime-perl'.  In this commit: https://github.com/genome/gms/commit/faf18812178f79e57da3dbe5eb13e6ca73253e29

This package is not currently included in our static

[2014-02-27 23:08] malachig opened #107 "Installer fails due to unconfigured or unexpected environment variables"
Testing the installer with the new merged versions of UR, workflow, and gms-core.  We get various failures when attempting to run `genome` commands that relate to environment variables.  The errors fall into two categories.

Type 1.
Environment variables that we want to use within the sGMS must be defined in Genome/Env/*.  During the merge, at least one, 'GENOME_USER_EMAIL.pm' was lost.  Since we

[2014-02-28 00:12] malachig commented on #107
At first glance, the expected values of all of the now required environment variables are not stored in the Genome repo anywhere.  However, it looks like they are being defined within TGI by sourcing this file: `/etc/profile.d/genome.sh` which is itself source by `/etc/profile`.

The concept here is very similar to what we are already doing in `/etc/genome.conf`.  We should consider matching the n

[2014-02-28 04:43] malachig commented on #106
Using cpan to update this module until the apt repo is ready.

https://github.com/genome/gms/commit/c8af36d2698549bb5aafffcf56a4dabf2ab51243

[2014-02-28 04:45] malachig commented on #107
The sGMS environment variables have been reworked to match as closely as possible the configuration used within TGI.  TGI specific content (domain names, file paths, etc.) have been removed.

Relevant commit:
https://github.com/genome/gms/commit/c8af36d2698549bb5aafffcf56a4dabf2ab51243

[2014-02-28 04:56] malachig opened #108 "Missing column in schema (fragment_library.bisulfite_conversion)"
Testing the installer with the new merged versions of UR, workflow, and gms-core.

Getting the following error during metadata import:

[code]

This issue is awaiting a sync of the postgres schema.

[2014-02-28 06:44] sakoht commented on #108
This is something you can run to get the schema for a table in postgres
whenever a problem like this occurs:

psql -h gms-postgres -d genome -U gms-user -c '\d
instrument.fragment_library'

Then update setup/schema.sql, as has already been done for this issue.

https://github.com/genome/gms/commit/6b445ac5e333c02351a86260de3458d0d05b278b

[2014-02-28 14:46] gatoravi opened #109 "Document the schema differences between the sGMS database and the TGI databases."
The schema inside the TGI is different from the schema in the sGMS. This issue is an effort to document those differences. Differences in schema cause problems whenever there is a merge between the 'master' and 'gms-pub' branches due to missing or additional columns/tables referenced in the code.

[2014-02-28 17:31] gatoravi commented on #109
The way to dump the table schemas within the tgi is as follows

[code]

From Tony,
Use the -N option for pg_dump and  test_dependencies to skip the workflow schema.  Access to that schema is through a different user, and we're not using the workflow schema on postgres anyway.

To get the password(don't run it on the `gms-postgres` host):
`perl -MGenome -e 'print $ENV{GENOME_DS_GMSCHEMA_AUTH}."\n";

[2014-02-28 19:47] malachig opened #110 "Missing environment variable. GENOME_EXECUTION_ID"
Testing the installer with the new merged versions of UR, workflow, and gms-core.

Getting the following error during metadata import:

[code]

It looks like this variable is defined in 'Genome/Site/TGI.pm by a UR call as follows:

[code]

In the sGMS, Site/TGI.pm is not used by design.

However, since this variable is defined dynamically, I'm not sure how we should best handle this in the sGMS...

[2014-02-28 22:01] ghost commented on #57
I've developed a script that more or less replaces many functions of the metadata import.  The script combined with forthcoming wiki documentation is intended to elucidate for a reviewer how to bring additional samples and data into the system.  It does this by translating the cryptic code of the .dat file into less cryptic `genome` commands that end users would run in the normal operation of GMS.

[2014-03-01 19:58] gatoravi commented on #109
the schema dump seems to have some sort of organization I think. The order seems to be this,
1. schemas
2. tables
3. primary key constraints
3. indexes
4. foreign key constraints.

move all the schemas, tables, indexes and constraints related to 'workflow' to the end of the file or to a separate file. this will make it easier to see what has changed inside TGI with regards to the database schemas.

[2014-03-01 20:50] gatoravi commented on #109
There is a role called "gms-user" doesn't exist in the sGMS, substitute this role to 'genome' in the sGMS perhaps ? will this cause other problems ?

[2014-03-01 21:00] gatoravi commented on #109
Genome::Disk:Group needs sticky to be NOT-NULL but  the line `sticky => 1` in the setup/prime-allocations.pl is commented out, any specific reason for this ?

The sticky column has a 'NOT NULL' constraint in the new schema dump, so this value will have to be set during the priming of the databases.

[2014-03-01 21:33] gatoravi opened #111 "Module 'Runtime' - version error."
Module::Runtime version v0.14.0 required--this is only version v0.11.0 at /opt/gms/AXXXB55/sw/ur/lib/UR/Util.pm line 12.

A recent change in the master branch of UR(https://github.com/genome/UR/commit/2efdfac61874f9343c0f17dd53b05615ae03faad) makes it necessary to have v0.14 of this module, currently v0.11 is being installed, this has to be upgraded to 0.14.

[2014-03-01 21:44] malachig commented on #111
This is a duplicate of issue #106

[2014-03-01 21:49] gatoravi commented on #111
my bad, closing this.

[2014-03-01 21:49] #111 closed, assigned to nobody

[2014-03-02 00:36] gatoravi opened #112 "merge symbols in Genome/Disk/Group.pm"
https://github.com/genome/gms-core/blob/gms-pub-testmerge3/lib/perl/Genome/Disk/Group.pm

Looks like Group.pm has some symbols left(-------, HEAD etc) behind from the merge. Were there conflicts in this file, were they resolved ?

[2014-03-02 01:34] malachig commented on #112
I also resolved this. Somehow you are missing a commit... maybe I failed to push something...

[2014-03-02 01:43] malachig commented on #112
I kept all the new code plus the old code that defines the 'reads' group. And that seemed to work.

[2014-03-03 15:50] gatoravi commented on #112
these have now been removed from the code. closing.

[2014-03-03 15:50] #112 closed, assigned to nobody

[2014-03-03 16:55] malachig opened #113 "Switch code to use new FTP server for TST1 data and installer data"
The old FTP service is being discontinued.  The new setup is described below and is available here:
https://xfer.genome.wustl.edu/gxfer1/project/gms/

We should update all documentation and code that points to the old service to use the new service.

[code]

[2014-03-03 21:27] malachig commented on #113
Replace all instances of:
http://genome.wustl.edu/pub/software/$PATH

With:
https://xfer.genome.wustl.edu/gxfer1/project/$PATH

[2014-03-03 21:54] malachig commented on #113
I think I have changed this everywhere in the gms code, install documentation, and wiki pages.  There may be some old closed issues that still refer to the old FTP site but that is fine.  Closing this issue.

I made these changes in both the 'stable' gms branch and the 'test merge' branch so that we are no longer hitting the old FTP server.

ubuntu-12.04:
https://github.com/genome/gms/commit/04744

[2014-03-03 21:58] malachig commented on #113
We should test the new syncing procedure described above.  Once that is confirmed to be working smoothly we can close this issue.

[2014-03-03 22:09] gatoravi commented on #113
I've tested this procedure with a new apt-dump and it seems to work fine.

[2014-03-03 22:32] malachig commented on #110
A fix for this issue was pushed to gms-core 'gms-pub-testmerge3'.  There is still some ongoing discussion of removing this environment variable all together though.

[2014-03-03 22:34] malachig commented on #108
The schema differences are being systematically examined in issue #109.  There are some questions/concerns there that may be blocking progress for now.

[2014-03-03 23:08] malachig commented on #113
With the old setup we were mounting the TST1 demonstration data (and optionally doing an rsync) as follows:

[code]

But this doesn't seem to work with the new setup:

[code]

[2014-03-04 17:03] acoffman commented on #70
Latest commit gets filtering and sorting working for all data table views. Looking at the apache stuff now.

[2014-03-04 17:13] acoffman commented on #70
I don't have access to any of the standalone gms boxes afaik, but can one of you try the following apache config in place of the default one? It should mount /opt/gms at localhost/data

[code]

[2014-03-04 18:35] malachig opened #114 "Update behavior of differential-expression model define and start"
We are having a few minor issues with differential expression models in the sGMS.  These are not specific to the sGMS but potentially affect the flow of our tutorials.  Each seems pretty minor:

1.) It seems that you can not create a differential-expression model unless rna-seq _builds_ exist.  This seems inconsistent with the rest of the system.  You should be able to create a model even if the u

[2014-03-04 20:28] acoffman commented on #70
@mkiwala-g pointed out that I can get on http://blade16-4-16/ myself and experiment. After a bit of finagling, I have a working apache config. It will mount /opt/gms at http://host/data/. You may need to update the environment variables for data_path accordingly. I have posted the working config below, and I will update the makefile to create this config instead of the current one.

Thanks!
Adam

[2014-03-04 20:33] obigriffith commented on #70
Excellent. Let me know when that has been pushed (and to which branch)
and I will test it out on box at home.

On 3/4/14 2:29 PM, Adam Coffman wrote:

[2014-03-04 20:39] acoffman commented on #70
Its pushed up to github in a branch named "apache-conf"!

[2014-03-04 20:44] malachig opened #115 "Can not start builds since merge"
The installation seems to be working now with the merged code.  However, builds now enter a 'scheduled' state and never actually launch.  For example:

[code]

The logs dir for this build is empty.  The build xml is as follows:

[code]

[2014-03-04 21:01] malachig commented on #115
This job when submitted to openlava looked like this:

[code]

It appears that the command field is empty?  Except for a few options.  This is presumably not a valid command: `<-N -ugmsuser@https://localhost -e/opt/gms/9Z75C74/fs/9Z75C74/info/model_data/2891230330/buildbd1e9fba769a448f96ffb8db92c610a4/logs/workflow-server.err -o/opt/gms/9Z75C74/fs/9Z75C74/info/model_data/2891230330/buildbd1e9fba76

[2014-03-04 21:23] malachig opened #116 "Clean up FTP staging dir to remove files not needed for sGMS installation or test runs"
Some files in the staging dir could be reorganized or removed to make syncing more efficient and to make it easier for users grabbing test data to browse the FTP site manually:

https://xfer.genome.wustl.edu/gxfer1/project/gms/

Base dir:
/gscmnt/sata102/info/ftp-staging/pub/software/gms/

Candidates for removal:
- apps-2013-03-10.tgz
- apps.tgz
- apt-mirror-min-ubuntu-12.04-20130330.tgz
- apt-mir

[2014-03-04 23:02] gatoravi commented on #109
Genome::Disk::Volume has a property called creation_event_id which is not in the postgres dump, this creates problems while running `perl setup/prime-allocations.pl` during the Make process.
this was added here in response to an RT ticket ,
https://github.com/genome/gms-core/commit/78a0eba20a9f09de95693b34002920991655ad8f

[2014-03-05 19:22] ghost commented on #114
(1) and (2) were solved by moving the check for a successful build of the rna-seq models into the _resolve_workflow_for_build() method of Genome::Model::DifferentialExpression.

I have one solution for (3).  After talking it over with some of my colleagues, I'm going to make some changes since they would like to see a different solution.

[2014-03-05 22:33] gatoravi commented on #109
To create this new dump the following steps were taken,
1. A new dump was created with the `pg_dump` command referenced above.
2. All the psql commands related to the 'workflow' schema were copied over to the new dump in the appropriate places in the file(if this is not done and if the workflow commands are added to the end of the file we see warnings related to implicit indexes being created, mig

[2014-03-05 22:43] malachig opened #117 "Table 'result.software_result' has shortened column character length for field 'version' that is exceeded by data in the table"
The table `software_result` in schema `result` is now defined as follows:

[code]

`version` used to be specified as `varying(1000)`

There are records in this table where the value of this field is >64.  For example:

[code]

To test analysis in the sGMS we "prime" the database with a few software results.  At least one of these is too long (the example used above).  The result is that `genome mo

[2014-03-05 22:46] malachig commented on #117
After priming the sGMS database, the software result entries are as follows (length):

[code]

weird...

[2014-03-05 23:02] malachig commented on #117
Pushed a fix here:
https://github.com/genome/gms/commit/a421c4254d1b0a672206970f47ab36b613bfe843

This issue is related to issue #109

[2014-03-06 00:08] malachig opened #118 "Schema update expects 'allocation_event_type' to be populated with allowed event types"
When running this command (i.e. starting a build):
genome model build start "name='hcc1395-normal-snparray'"

We are getting this error:

[code]

Since updating the schema, when launching a build `timeline.allocation` entries are added to the database.  Each of these refers to a `timeline.allocation_event_type` and this is enforced by a foreign key contraint `allocation_event_typ_fk`.  Since the t

[2014-03-06 00:29] malachig commented on #113
Comment from Rob Fugina:

"This should work now, except that we put the new ftp root at the project directory, so do this:

curlftpfs 'ftp://xfer.genome.wustl.edu/gms/testdata/GMS1' '/opt/gms/.GMS1.ftp' -o tcp_nodelay,kernel_cache,direct_io

Seems to work fine for me, though I have to be root for the umount to work.  I'll have to figure that out.

And as I type, our network guy has added the neces

[2014-03-06 00:45] malachig commented on #118
Pushed all of this to the test merge branch here:
https://github.com/genome/gms/commit/9392a4c0f0bec8805751f010a144923c9438280d
https://github.com/genome/gms/commit/1faf5133bb4c303edae9cd51b85bdb0ddfaeec06

[2014-03-06 00:52] malachig commented on #113
In order to complete the transition we need to update the entries here in the gms repo:

gms/setup/gms-home-skel/known-systems/GMS1.tsv

From

[code]

To

[code]

[2014-03-06 15:55] malachig commented on #115
@sakoht has pushed a fix for this issue which should have hopefully resolved the problem:

https://github.com/genome/gms-core/commit/72955a39654e4a043fd81f7248ff0a753694d2aa
https://github.com/genome/gms-core/commit/3d72e7a4655b9af42236b461b896e494c351718b

The problem was caused by a difference in the behavior of LSF vs openlava.

[2014-03-06 21:20] malachig opened #119 "Update APT repo for Ubuntu precise to include new software that has been debian packaged"
Some GMS dependencies have been Debian packaged since the last merge (and or since the installer was created).  We should switch from installing these in ad hoc way to using the debian packages.

In order to do this we need to identify dependencies added to genome-snapshot-deps lucid, and add them to genome-snapshot-deps for precise.  Top priorities for this are:
- libset-intervaltree-perl (>= 0.0

[2014-03-06 22:33] malachig commented on #119
With the perl packages above we are running into a dependency problem with ubuntu precise, that is that each of these packages relies on perlapi-5.10.1 but we are getting this error:

`Depends: perlapi-5.10.1 but it is not installable`

[2014-03-06 23:02] malachig commented on #96
Relates to
Genome/Model/Tools/Sv/SvAnnot.pm in gms-core

This was not tested or pushed in the master branch of gms-core.  During our merge of master into gms-pub we seem to have reverted to the old code with hard-coded paths.  :(.  We need to merge this change from gms-pub into master, test there and then merge into gms-testmerge3.  Or something to that effect.

[2014-03-06 23:08] malachig commented on #96
Also apparently these files that are expected to live at `/gsc/scripts/share/BreakAnnot_file` within TGI were added to the misc-annotation database on github but not the TGI git server.  We need to synchronize those...

[2014-03-07 00:00] malachig commented on #119
@kindjal has rebuilt the perl lib debian packages above for Ubuntu precise.  While testing, they are in a development apt repo here:  http://repo.gsc.wustl.edu/dev/ubuntu/pool/precise-genome-development/main/

This can be added as an apt.source as follows (/etc/apt/sources.list.d/genome.list):
deb http://repo.gsc.wustl.edu/dev/ubuntu precise-genome-development main

Once we confirm that these inst

[2014-03-07 00:07] gatoravi commented on #96
this was tested and pushed to master here, https://github.com/genome/gms-core/commit/b00be1ccb590cffcdf9ba543c0a1a135c5284779 and gms-pub-testmerge3
here https://github.com/genome/gms-core/commit/6347ee530efe519b9865191cf0513f8f067c9cb8

[2014-03-07 00:10] malachig commented on #119
I was able to successfully install `libset-intervaltree-perl` and `libmodule-runtime-perl`

There were problems with the other two:

`libdbd-pg-perl` seems to still be missing...

and

`libgetopt-complete-perl` did _not_ work:

[code]

[2014-03-07 16:14] mcallaway commented on #119
I've added these to the dev/ubuntu repo:

libdbd-pg-perl_3.0.0_amd64.deb
libgetopt-complete-perl_0.26_all.deb

It turns out the Getopt::Complete source Build.PL has "v5.8.7" for the perl dependency, and the "v" is a packaging violation. I manually fixed it at build time. Now the dependency in the .deb looks like:

 Depends: perl (>= 5.8.7)

Which should be satisfied. Observe:

[code]

The packages

[2014-03-07 16:32] malachig commented on #119
My test environment is an sGMS install with the current APT configuration _plus_ `deb http://repo.gsc.wustl.edu/dev/ubuntu precise-genome-development main`.   All four of the missing perl libraries can now be installed for Ubuntu precise from Deb packages.

[2014-03-07 17:09] malachig opened #120 "clin-seq build fails due to missing new version of bam-readcount"
Since the merge, clin-seq build now now with the following error:
`ERROR: Failed to find executable bam-readcount version 0.5 at /usr/bin/bam-readcount0.5!`

This software is indeed missing.  0.5 is a new version of bam-readcount. It has been packed for Ubuntu precise by @ernfrid but we need to pull this into the sGMS.  This issue should be resolved when our APT repo is updated in issue #119

[2014-03-07 17:28] malachig opened #121 "clin-seq build fails due to missing software: circos"
Since the merge, a new component, 'Create a Circos plot using MakeCircosPlot', was added to the clin-seq workflow.  This step throws the following error:

[code]

We need to add circos plot to the sGMS.  Within TGI we see this:

[code]

For reference: Genome/Sys.pm

[code]

Before proceeding with a fix we need to understand exactly how circos is installed within TGI...

[2014-03-07 17:45] malachig commented on #121
It looks like circos0.64 was added to `genome-snapshot-deps` in `genome-snapshot-deps-apps-external.depend` for lucid but _not_ precise.

lucid/changelog:  \* [76d838e] depend on circos 0.64
lucid/changelog:  \* [71c2b73] add dependencies for circos
lucid/genome-snapshot-deps-apps-external.depends:circos0.64 (>= 0.64-1)

It looks like this issue is therefore also related to issue #119

[2014-03-07 17:47] malachig commented on #119
Another needed package we are missing for Ubuntu precise has been identified: `lucid/genome-snapshot-deps-apps-external.depends:circos0.64` needs to be added to `precise/genome-snapshot-deps-apps-external.depends` in genome-snapshot-deps and then the APT repo needs to be rebuilt.

[2014-03-07 17:50] malachig commented on #121
Relevant RT tickets:

From @bainscou
Originally @sakoht  just copied it over as can be seen in this RT ticket 94903
https://rt.gsc.wustl.edu/Ticket/Display.html?id=94903

We had another issue with some dependent libraries as referenced in this RT ticket 95760
https://rt.gsc.wustl.edu/Ticket/Display.html?id=95760

[2014-03-07 17:52] malachig commented on #121
One of these RT issues spawned a systems JIRA issue here:
https://jira.gsc.wustl.edu/browse/INFOSYS-9016

[2014-03-07 20:09] malachig commented on #119
With the latest APT package `ubuntu-12.04-2014.03.07` I now get this error:

[code]

The other 4 mentioned above install successfully from the package.  If I switch back to using the 'dev' repo it does not work.  Weird, it seemed that was working yesterday...

[2014-03-07 20:33] malachig commented on #121
The good news is that this works in the sGMS:

[code]

When I do that I can run `/usr/bin/circos0.64`

But then I get this warning:
`You are missing the Perl module Font::TTF::Font. Use CPAN to install it as described in this tutorial`

[2014-03-07 20:35] malachig commented on #121
Once again the good news is that this works in the sGMS:

[code]

Now when I run `/usr/bin/circos0.64` I get:
`You are missing the Perl module GD::Polyline. Use CPAN to install it as described in this tutorial`

[2014-03-07 20:39] malachig commented on #121
Once again the good news is that this works in the sGMS:

[code]

Now when I run `/usr/bin/circos0.64` I don't get any warnings about missing perl modules.

[2014-03-07 20:44] malachig commented on #121
To summarize we need to have each of the following dependencies in genome-snapshot-deps for precise.

[code]

It actually looks like only circos0.64 is missing right now, so that should be an easy fix.

[2014-03-07 20:46] malachig commented on #121
Committed this change to genome-snapshot-deps (commit: 2e1d398c126de4351dfe63f76192a810e565e010)

[2014-03-10 15:31] gatoravi opened #122 "How to create an APT tarball for sGMS."
This issue documents the creation of tarballs which are used during the sGMS install process. This will be useful whenever a debian package needs to be added/removed/modified for the sGMS.

[2014-03-10 18:34] gatoravi commented on #122
The apt-repos for TGI are on http://repo.gsc.wustl.edu, to make changes to the packages that are stored here, TGI uses a git repo called genome-snapshot-ceps.

To get a version of genome-snapshot-deps, from within the TGI do
`git clone ssh://git/srv/git/genome-snapshot-deps.git`

Once you have cloned this repo, to change the packages that are installed for precise go into the 'precise' folder. Thi

[2014-03-10 18:54] gatoravi commented on #122
Now that we have uploaded these changes to repo.gsc.wustl.edu, we need to make a tarball with the updated packages. Note: the sGMS installs the debian packages from the tarball(which it downloads from an FTP site https://xfer.genome.wustl.edu/gxfer1/project/gms/) instead of downloading the packages directly from 'repo.gsc.wustl.edu'. The reasons for this are unknown but might be to mitigate load o

[2014-03-10 22:13] malachig commented on #106
We can use cpan to update this module for now, but once issue #119 is resolved we can stop doing so.

[2014-03-10 22:15] gatoravi commented on #119
In the current APT dump (2014.03.10) this is the status of these packages

libset-intervaltree-perl (>= 0.07-1) - installs and works.
bam-readcount0.5 (>= 0.5.1) - installs and works.
libgetopt-complete-perl (>= 0.20-1) - installs and works

libmodule-runtime-perl (>= 0.014-1) - installs but does not work, we get

[code]

libdbd-pg-perl (>=2.19.3-2) - Installs but does not work, we get this error

[2014-03-10 22:24] malachig commented on #113
I made the change described above here:
https://github.com/genome/gms/commit/87072485db649cd26711155641af14c80b8fd727

Testing now to make sure the `genome sys gateway attach` and resulting rsync commands work as expected...

[2014-03-11 14:13] malachig commented on #113
This seems to be working smoothly.

[2014-03-11 14:14] malachig commented on #116
For details on how to work with the staging dir and rsync the FTP server, refer to #113

[2014-03-11 15:14] gatoravi commented on #120
The latest apt-dump has version 0.5 of bam-readcount. We need to check if clinseq works with this version.

[2014-03-11 15:20] mcallaway commented on #119
libmodule-runtime-perl was repackaged and deployed to repos. Working on DBD::Pg now.

[2014-03-11 15:33] mcallaway commented on #119
libdbd-pg-perl has been repackaged and deployed to repos. Give it a shot.

[2014-03-11 16:31] malachig commented on #119
In a fresh install I now get this error:

[code]

[2014-03-11 16:32] gatoravi commented on #119
when I do a `sudo apt-cache showpkg libdbd-pg-perl` on my install,

[code]

maybe missing dependencies for this version ?

[2014-03-11 18:29] malachig commented on #119
Test all four problematic perl libraries being installed from Deb packages:

deb http://repo.gsc.wustl.edu/ubuntu precise-genome-development main
deb http://repo.gsc.wustl.edu/ubuntu lucid-genome-development main

sudo apt-get install bam-readcount0.5
sudo apt-get install libdbd-pg-perl
sudo apt-get install libset-intervaltree-perl
sudo apt-get install libgetopt-complete-perl
sudo apt-get install

[2014-03-11 18:51] malachig commented on #75
Since the merge we seem to have a problem introduced here:

We are getting a lot of perl warnings, genome errors, and ultimately a crash:

[code]

Will talk to @tmooney about this one...

[2014-03-11 19:30] gatoravi commented on #119
On a fresh apt-repo dump all these packages seem to install correctly, but now.... priming fails due to incorrect version of DBD::Pg !!

sudo bash -l -c 'source /etc/genome.conf; /usr/bin/perl setup/prime-disk-allocations.pl'
setting GENOME_\* variables...
updating PATH, PERL5LIB, and CLASSPATH for the GMS
configuring tab-completion...
ERROR: ***\* INCORRECT POSTGRES DRIVER VERSION ****
You are us

[2014-03-11 19:50] gatoravi commented on #119
Just FYI, we cannot install the lucid version of libdbd-pg-perl2.19.3 as this is packaged for an older version of perl that comes w lucid. Looks like we might need libdbd2.19.3 packaged for precise.

vagrant@precise64 /vagrant (ubuntu-12.04)> sudo apt-get install libdbd-pg-perl=2.19.3-2
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not

[2014-03-11 19:55] malachig commented on #119
This message come from here:

Genome/DataSource/CommonRDBMS.pm

[code]

I guess we could try setting this to the newer version...  Hard to say what the possible implications of that might be.  Obviously would be safer to just be on the same version of DBB::Pg.  It can install and run on precise via CPAN, so this is still a Debian packaging issue presumably...

[2014-03-11 20:01] malachig commented on #75
Actually after talking to @tmooney it now seems clear that this is not specifically related to the above.  Opening a separate issue.

[2014-03-11 20:02] malachig opened #123 "Microarray builds failing with various warnings"
Since the merge we seem to have a problem introduced here:

We are getting a lot of perl warnings, genome errors, and ultimately a crash:

[code]

Will talk to @tmooney about this one...

[2014-03-11 20:04] malachig commented on #123
At first I thought this was related to issue #75.

But after talking to @tmooney it now seems clear that this is not specifically related to the above. Opening a separate issue.

I also opened an RT issue.  Here:
https://rt.gsc.wustl.edu/Ticket/Display.html?id=98226

The same issue seems to be occurring withing TGI.  Will need to resolve in master and merge the fix into gms-pub...

[2014-03-12 02:37] malachig opened #124 "reference-alignments fail due to missing perl module 'Sort/strverscmp.pm'"
Since the merge, all reference alignments are now giving this error:

[code]

The method `strverssort` is not defined within the genome code.  But it is called here:

[code]

It looks like this method exists on CPAN, where it was contributed by @nnutter.
http://search.cpan.org/~nnutter/Sort-strverscmp-0.007/lib/Sort/strverscmp.pm

It looks like this was added as a dependency in `genome-snapshot-de

[2014-03-12 02:40] malachig commented on #124
Other relevant issues are: #31, #106, #109, #111, #119

[2014-03-12 02:48] malachig commented on #124
To test this package I did the following:
- added `deb http://repo.gsc.wustl.edu/ubuntu lucid-genome-development main` to `/etc/apt/sources.list`
- sudo apt-get update
- sudo apt-cache policy libsort-strverscmp-perl
- sudo apt-get install libsort-strverscmp-perl
- perl -e 'use Genome::Model::Tools::Bed::ChromSort'

This worked.  Next step is to add `Sort::strverscmp` as a dependency in genome-snap

[2014-03-12 02:54] malachig commented on #124
I added this perl library as a dependency in genome-snapshot-deps for precise here:

[code]

Since it seems to work as is in precise, all we should have to do now is rebuild and publish the APT repo.  If all goes well this problem should be resolved in the next fresh install.

[2014-03-12 03:50] gatoravi commented on #119
changing `my $required_pg_version = '3.0.0';` helps the installation and the priming of the database succeed and the model listers work fine. More extensive testing is needed to ensure that this version of the driver does not cause any unforeseen issues, hard to tell right now. An alternate route that we might take is to just package version 2.19.3 for precise.

[2014-03-12 15:25] malachig opened #125 "somatic-variation fails during create-report step (related to supporting callers?)"
Since the merge we are getting warnings and errors in somatic-variation create-report step summarized below:

First,

[code]

And then later,

[code]

It looks like all of this was added recently by @susannasiebert.  We should confer with her before proceeding further.

[2014-03-12 15:50] gatoravi commented on #119
From @amb43790 :
I can't say whether there would be problems or not looking at the changelogs and testing.The check was added in dec 2012 to avoid a problem when we were syncing to both Oracle and Postgres.  I don't recall the details of the problem, but it had something to do with Lims's  perl (5.8) DBD::Pg being too old.

[2014-03-12 16:49] malachig commented on #125
One thing that is strange about the output above is the warning:

[code]

The number of callers required should be defined there via `$self->required_snv_callers`.  This has a default defined in both `Genome/Model/SomaticVariation.pm` and `Genome/Model/SomaticVariation/Command/CreateReport.pm`.

One thing I noticed that may be a red herring is that parameters in the class defs for these modules ar

[2014-03-12 16:53] apregier commented on #125
required_snv_callers is a new processing profile parameter.  The reason that the default in the tool doesn't kick in is because the workflow passes that parameter in from the processing profile.  In the in-house Genome instance, we backfilled all of the processing profiles to have the default value.  To fix the immediate error, you could backfill the processing profiles in sGMS as well.
Handling t

[2014-03-12 16:58] susannasiebert commented on #125
there are two more parameters beside required_snv_callers that need to be backfilled: tiers_to_review and restrict_to_target_regions. All of them can be backfilled with the default value of 1.

[2014-03-12 17:14] gatoravi commented on #119
This version-check has been relaxed by @amb43790 in master here https://github.com/genome/gms-core/commit/e42c96331b69a363f0619da873628ba49dbdc67a and in gms-pub here https://github.com/genome/gms-core/commit/fa261aa68928bfe0bbeafcee187c24a5461f9eaf
At this point in time it's hard to see problems with this, we will have to test this out to find them.

[2014-03-12 17:27] gatoravi commented on #125
I think a new metadata dump for the sGMS will help backfill these processing profiles on the sGMS.

[2014-03-12 17:39] malachig commented on #125
Yes, testing that now.

[2014-03-12 20:22] malachig opened #126 "Test 'renv' method of installing R from repo.gsc.wustl.edu"
To test installation of R by new method developed by @kindjal

Add this repo to your APT sources (/etc/apt/sources.list.d/genome.list):
`deb http://repo.gsc.wustl.edu/dev/ubuntu/ precise-genome-systems main`
`deb http://repo.gsc.wustl.edu/dev/ubuntu/ precise-genome-development main`
`sudo apt-get update`

Install R2.15.3 (2.15.3-1precise1~20140305) as follows:
`sudo apt-cache policy renv`
`sudo ap

[2014-03-12 22:30] malachig commented on #119
Update list of tests to make sure all new packages are working after a clean sGMS install using only Debian packages for these:

sudo apt-cache policy bam-readcount0.5
sudo apt-cache policy libdbd-pg-perl
sudo apt-cache policy libset-intervaltree-perl
sudo apt-cache policy libgetopt-complete-perl
sudo apt-cache policy libmodule-runtime-perl
sudo apt-cache policy libsort-strverscmp-perl
sudo apt-ca

[2014-03-12 22:32] malachig commented on #119
Use of `cpanm` was eliminated entirely from the GMS installation in this commit: https://github.com/genome/gms/commit/2c4cc7d6677f423dd0a2b1017839b8f9dc4f9b6e

[2014-03-12 22:50] malachig commented on #116
During rsync we wind up doing the following (gms-core, gms-pub branch: Genome/Sys/Gateway.pm)

[code]

It might improve rsync performance to actually remove the `transcript_sub_structure_tree` files all together...

[2014-03-12 22:58] malachig commented on #116
While working on this a complete backup of all staged files is being placed here:
/gscmnt/gc2142/techd/gms1_backup/

[2014-03-12 23:34] malachig commented on #119
`libsort-strverscmp-perl` is still missing as a dependency.  It is available to be installed and works with `sudo apt-get install libsort-strverscmp-perl` but it just isn't happening automatically.  @gatoravi is working on a minor tweak of the apt repo.

[2014-03-12 23:41] malachig commented on #125
The new metadata dump is here:
https://xfer.genome.wustl.edu/gxfer1/project/gms/testdata/GMS1/export/18177dd5eca44514a47f367d9804e17a-2014.3.12.dat

No problems importing it and running new ref-align builds.  Testing somatic-variation now to see if the issue is resolved

[2014-03-12 23:47] malachig commented on #101
This appears to have been resolved with the merge.  Model-groups can now be created, listed, etc. without warnings or errors.  Closing now.

[2014-03-12 23:47] #101 closed, assigned to gatoravi

[2014-03-13 00:24] gatoravi commented on #119
This seems to be fixed in the new dump now. (2014.03.12)

[2014-03-13 01:58] malachig commented on #119
Confirmed.  Also worked for me.

[2014-03-13 03:04] malachig opened #127 "clin-seq microarray cnv step fails if microarray builds do not have a successful build"
Microarray builds currently have no succeeded build.  Running a clin-seq with this situation results in a crash during the step "Call somatic copy number changes using microarray calls".  Error message as follows:

[code]

[2014-03-13 03:14] malachig commented on #127
Perhaps we should consider making these genotype-microarray builds optional inputs on the clin-seq model instead of accessing them via somatic-variation->normal/tumor models.  Then only add this step to the workflow if necessary inputs are available.

Another option is to update `has_microarray_build()` in Genome/Model/ClinSeq.pm to consider whether there are actually successful microarray builds

[2014-03-13 03:56] malachig commented on #127
Pushed a fix for this to gms-core master here: https://github.com/genome/gms-core/commit/5af0dbc0434b846c1a45e5d76512a13e77f2a3d5

[2014-03-13 14:24] obigriffith commented on #70
This seems to be working now. There are a few links still broken though:
ref build - fasta_file. Still appears as "http://opt/gms/GMS1/fs/ams1102/info/model_data/2869585698/build106942997/all_sequences.fa" without localhost prepended.

Need to check other builds more thoroughly once some have been run.

[2014-03-13 15:11] acoffman commented on #70
Cool, I'll take a look at this

[2014-03-13 19:19] mcallaway commented on #126
This is ready for another test:

[code]

[2014-03-13 19:25] mcallaway commented on #126
[code]

[2014-03-13 20:08] acoffman commented on #70
This should be fixed in the latest push!.

[2014-03-13 20:08] #70 closed, assigned to acoffman

[2014-03-13 20:46] malachig commented on #116
Completed this tidying up of the staging dir and did the rysnc to the FTP site.  Need to test the install to make sure all is still working.

[2014-03-13 21:29] malachig opened #128 "Create a 'TST1ds' so that testers using downsampled data can rsync much faster"
Currently to run the demonstration analysis with sGMS, a user/tester has to do the following:
- clone the gms git repo using a `git clone` command (fast)
- run the installer using the `make` or `make vm` command (takes 30-60 minutes, longer with a slow internet connection)
- prime the database with necessary metadata using the `genome model import metadata $metadata.dat` command (fast)
- import fi

[2014-03-14 00:08] obigriffith commented on #70
It seems like the top level (workflow) error and stdout files on a build page are now being renamed to generic names like: workflow-server.err/out in the logs folder. The links would need to be reformatted to reflect that. Links to err/out files from individual workflow steps seem to be working though.

Also, 'Summary Report' links under 'Last Complete Build' from most (all?) models except ref-ali

[2014-03-14 02:00] obigriffith opened #129 "Rename processing profiles"
Processing profiles imported into sGMS currently read:
chromosome-fastas
cuffcompare/cuffdiff 2.0.2 protein_coding only
imported-annotation.ensembl
imported-variation-list
infinium wugc
Nov 2011 Default Reference Alignment
November 2011 Clinical Sequencing
Oct 2012 Default Somatic Variation Exome -- DV2 filter params bug fix
Oct 2012 Default Somatic Variation WGS -- DV2 filter params bug fix
Octob

[2014-03-14 15:34] malachig opened #130 "Update TST1 example clin-seq model to use correct processing profiles and DBs"
The current TST1 clin-seq test model within TGI has somatic-models that have been reassigned to new processing-profiles because of a DV2 filter bug.
- Create new somatic models with the expected processing profile
- Update the clin-seq model to use the default cancer, cosmic, and misc annotation databases specified in ClinSeq.pm
- For rna-seq models, add the cancer-annotation input
- Export, stage

[2014-03-14 15:59] malachig commented on #130
#Assign a new processing profile to the WGS somatic-model (pp = 2762562)

[code]

#Assign a new processing profile to the Exome somatic-model (pp = 2762563)

[code]

#Update the normal rna-seq model to include cancer annotation

[code]

#Update the tumor rna-seq model to include cancer annotation

[code]

#Update clin-seq model to use the new somatic-models defined above

[code]

#Update clin-seq

[2014-03-14 16:04] malachig commented on #130
Now create a new metadata dump:

[code]

[2014-03-14 17:16] obigriffith opened #131 "can't abandon/stop running build"
Currently, if I attempt to abandon or stop a running build I see the following failure:

[code]

[2014-03-14 18:52] acoffman commented on #70
Latest push will only show the summary report link on refalign builds!

I don't seem to be able to figure out what you mean with the workflow log links.. all the ones I'm trying seem to be working. Can you give me some example links or screenshots/paths?

Thanks!

[2014-03-14 19:55] acoffman commented on #70
Obi came by and we took a look at this, it should be resolved in the latest push!

[2014-03-14 21:20] malachig commented on #126
It looks like we now have an R installation via an renv debian package that has all the capabilities and CRAN and Bioconductor packages used by the GMS.  It is very similar to the custom R installation we are using now except it has ~20 additional packages (from auto grabbing of dependencies) and some package versions are newer...

Next step for testing is to add it to genome-snapshot-deps as foll

[2014-03-14 21:43] malachig commented on #126
From @kindjal. The TGI public APT repos look like this:

[code]

[2014-03-16 00:34] obigriffith commented on #70
This all seems to be working as expected now.

[2014-03-16 02:14] malachig commented on #123
Microarray builds now succeeded.  However, many warnings are still thrown.  Furthermore a build that used to take ~30 minutes now takes ~24 hours...

[2014-03-16 03:04] ebelter commented on #123
I will look into the warnings. The builds will get a little faster with the
next snapshot. They are using the dbsnp vcf to get more information. That
is taking a while. I am talking to Travis to try and further improve the
time. Part of the problem is they make a bunch of files that are just a
permutation of the genotype file.  Now the are using a very ineffiecnt Perl
vcf  reader.

-Eddie
On Mar 1

[2014-03-16 04:46] malachig commented on #116
In addition to tidying up unused files, I have moved all BAM files outside of GMS1 to here:
https://xfer.genome.wustl.edu/gxfer1/project/gms/testdata/bams/

This has reduced the size of GMS1 from ~450 Gb to ~129 Gb.  I further created a compressed archive of GMS1 that brings this down to 35 Gb.

If the the user is testing with only the sub-samples BAMs, this brings the total download amount from ~

[2014-03-16 22:10] malachig commented on #123
I believe I was running my tests with the latest code committed to  master
as of Friday, so I'm guessing we are already using what will go out in the
next snapshot.

Is it possible that we also need an updated version of joinx?  It looks
like in the sGMS we have up to joinx1.7 but there is a joinx1.8 within
TGI...

[2014-03-16 22:31] ebelter commented on #123
I believe that to be true. The new version has a bug fix. Forgot why we
have not upgraded. Allison knows more.
On Mar 16, 2014 5:10 PM, "Malachi Griffith" notifications@github.com
wrote:

[2014-03-16 23:42] malachig commented on #131
Notes from offline discussion from @sakoht and @mkiwala-g

sGMS is failing to "genome model build stop" b/c it is missing Job::Iterator.  Where does that comes from?  Is it home grown, but not in genome.git?

I had never heard of that class before.  As a first attempt to find it, I tried this command from my TGI workstation:

[code]

Which made me think the “Job::Iterator” package was being define

[2014-03-16 23:46] malachig commented on #131
It looks like the attempt to use Job::Iterator is here (Genome/Model/Build.pm):

[code]

[2014-03-16 23:56] malachig commented on #131
It is not yet clear to me how this is working within TGI right now but I believe the problem is resolved in the sGMS by loading the missing module in place as follows within `_get_job` of `Genome/Model/Build.pm`:

[code]

I would like to better understand what is going on with the namespace/inheritance of these classes before pushing this to master...

[2014-03-17 00:41] malachig commented on #131
It looks like `use Genome::Sys::LSF::JobIterator;` is actually already in master.  Perhaps was missed during the merge of this module where some sGMS specific code exists because of differences between the behavior of LSF and OpenLava.

I added the missing line to the gms-pub branch of gms-core here:
https://github.com/genome/gms-core/commit/82ea26170a6da27b87519c65a6898c7a28931ef6

[2014-03-17 01:30] malachig commented on #113
Spoke too soon.  I have been trouble getting a complete sync on clia1 using `genome sys gateway attach`.  It _seems_ to be working, but many files are mysteriously left behind.  The server may have been in a weird state due to recent syncing.  We need to try again and work with systems to see if we can sort this out...

[2014-03-17 02:40] malachig commented on #129
I fixed these and created a record of the changes here: `gms/setup/bin/clean-metadata-file`

When a new metadata file is created we will have to remember to run this clean up.

[2014-03-17 02:43] malachig commented on #129
I also renamed the exome capture reagent name to the much more human readable `NimbleGen v3 Capture Chip Set`

[2014-03-17 02:44] malachig commented on #129
Closing this issue for now

[2014-03-17 02:44] #129 closed, assigned to nobody

[2014-03-17 03:04] malachig commented on #13
I believe this is all resolved now with the latest commit here:
https://github.com/genome/gms-core/commit/b8588b369082ffb504f7d97f5dd2cf1345f2975d

[2014-03-17 15:37] malachig opened #132 "update versions of joinx available for Ubuntu precise and the sGMS"
Currently the versions of joinx specified in genome-snapshot-deps for Ubuntu lucid are way behind those for precise:

Lucid:
[code]

Precise:
[code]

We should update for versions 1.6 and 1.7 and add 1.8.  We should also keep @tabbott in the loop on this issue and establish a method for keeping precise up to date in the future.

[2014-03-17 15:40] malachig commented on #132
The versions of joinx currently installed in the sGMS are as follows:

[code]

[2014-03-17 15:40] ghost commented on #57
I discovered on Friday that version of the instrument data importer included in gms-pub since the merge is much different from the version used before the merge.  I have some changes to the instrument data importer to allow specifying the library as an argument during import.

Testing this morning with the new importer code, it has trouble running seq-grind because seq-grind is not installed (or i

[2014-03-17 15:46] ghost commented on #57
It looks like seq-grind is something we package:

mkiwala@linus82:genome[gms-pub] $ apt-cache policy seqgrind0.1.0
seqgrind0.1.0:
  Installed: 0.1.0
  Candidate: 0.1.0
  Version table:
 **\* 0.1.0 0
       1001 http://repo.gsc.wustl.edu/ubuntu/ lucid-genome-development/main Packages
        100 /var/lib/dpkg/status

[2014-03-17 16:11] malachig commented on #57
The good news is that this worked:

[code]

@gatoravi has added this to genome-snapshot-deps. Refer to issue #133 for updates regarding this.

[2014-03-17 16:22] malachig opened #133 "Add some missing software to genome-snapshot-deps for precise and rebuild"
The following can be added to genome-snapshot-deps for precise and should install cleanly in precise: `joinx1.8`, `bam-window`, `seqgrind`, `breakdancer1.4.1`, `breakdancer1.4.2`, `pairoscope0.4`, and `pindel0.2.5`.

These were tested in the sGMS using the following APT source:
`deb http://repo.gsc.wustl.edu/ubuntu lucid-genome-development main non-free`

@gatoravi will update genome-snapshot-deps

[2014-03-17 17:47] ghost commented on #57
Installing the lucide seqgrind package solved the problem with running the importer.

[2014-03-17 17:52] ghost commented on #57
After importing data, I tried to create models and start builds using the `genome model clin-seq update-analysis` command.  It is not working for me, I get errors such as:

Defining the model by hand works, but starting the build fails when trying to create an lsf job:

[2014-03-17 18:08] ghost commented on #57
Queueing the build fails because the build wants to put the job in the "workflow" queue, but no queue named "workflow" is defined on blade16-4-16.

[2014-03-17 18:38] ghost commented on #57
pulling the latest gms and rebuilding openlava fixed this problem

[2014-03-17 18:42] gatoravi commented on #133
a new dump with `joinx1.8`, `bam-window`, `seqgrind`, `breakdancer1.4.1`, `breakdancer1.4.2`, `pairoscope0.4`, and `pindel0.2.5` was created and uploaded to the FTP server(2014.03.17). This is being tested now.

[2014-03-17 20:47] gatoravi commented on #133
a fresh install with the above packages completed without errors on a VM install. The Makefile has been updated to use this fresh tar ball here, https://github.com/genome/gms/commit/6d80e91bc6e3a9d3a25526f094a14d7d2e8fd945

[2014-03-17 21:49] gatoravi commented on #126
this is being tested in the APT dump version 'renv_test'. To test this, following changes were made to the Makefile,

[code]

[2014-03-17 22:52] malachig opened #134 "genome-db-cosmic-data branch '65_v1' is missing everything"
Did not notice this until we switched from using Cosmic v61 to v65.  This branch is missing everything.

Need to sync up this branch with what is currently in TGI.

[2014-03-17 23:27] malachig commented on #134
This should all be synced up now:
https://github.com/genome-vendor/genome-db-cosmic-data/tree/65_v1/clinseq

Testing to see if the clin-seq build that was failing when missing files were encountered now passes.

[2014-03-18 14:34] apregier commented on #123
There is a remaining bug in joinx intersect vcf 1.8, so we haven't yet upped the "default" joinx version in the code.  This bug is being tracked in our internal RT (97906).

[2014-03-18 15:55] gatoravi commented on #126
This apt-dump installed cleanly without any errors. When R is loaded after the install, R-2.15.3 is loaded by default.

[code]

Running `/usr/bin/R` loads R-3.0.3,

[code]

Running `R CMD BATCH install_r_packages.R install_r_packages.Rout` (this script is in the gms repo in gms/setup/install_custom_r) seems to find no errors. All the packages seem to load successfully. The next step might be to te

[2014-03-18 20:30] ghost commented on #57
I have not yet solved the problems I've had with running clinseq update-analysis on the imported data set.

I've restarted builds today on the imported data because the dataset I was using ran into the strelka problem, so it was likely the old dataset.  The currently running builds are running from instrument data freshly copied in.

[2014-03-20 19:30] ghost opened #135 "Package 'libapache2-mod-fastcgi' has no installation candidate"
E: Package 'libapache2-mod-fastcgi' has no installation candidate
make[1]: **\* [done-host/pkgs] Error 100
make[1]: Leaving directory `/home/ubuntu/gms'
make: **\* [all] Error 2

[2014-03-20 19:33] ghost commented on #135
The above error message happens for me during installation.  I'm trying the following sequence of commands to fix the install halfway through.

[code]

If this works, we may consider making these commands part of the automated installation processes.

[2014-03-24 22:32] gatoravi commented on #126
The makefile has been updated to use the renv method of install. The custom R installation has been removed from the Makefile. This installation was tested on clia1 and builds for all models succeeded(except for genotype microarray models which are still running !!). The new apt-repo and R installation changes have been pushed here - https://github.com/genome/gms/commit/f6072f58f4b75c1674ac304f298

[2014-03-25 15:51] obigriffith commented on #123
Has there been any progress on improving the run time of microarray
builds?  Runs on sGMS this weekend still took about 22hours.  There are
also tons of errors that look like:
Use of uninitialized value in numeric eq (==) at
/opt/gms/D4F2D78/sw/genome/lib/perl/Genome/Model/GenotypeMicroarray/GenotypeFile/ReadUnannotatedCsv.pm
line 230, <GEN10> line 52054864.

Perhaps there have been some recent ch

[2014-03-25 15:55] ebelter commented on #123
We made many commits toward the end of the week. We have seen run times
under 20 minutes. When was the last time this was pulled from master?
On Mar 25, 2014 10:51 AM, "Obi Griffith" notifications@github.com wrote:

[2014-03-25 15:58] apregier commented on #123
We got a big speedup (as in faster than the previous runtime) with commit 640442370edf37569d on master.  It think I pushed late Thursday afternoon.  Do you have that merged in yet?
Eddie has pushed quite a few other changes as well.

[2014-03-25 16:00] obigriffith commented on #123
Great. I'm guessing we do not have that merged in yet.

Avi - can you try merging in the latest microarray code and see if we
get back to ~20-30min runtimes?

Obi

On 3/25/14 10:58 AM, apregier wrote:

[2014-03-25 16:21] gatoravi commented on #123
Are these all changes to lib/perl/Genome/File/Vcf/\* ? Are there any changes outside this folder too ?

[2014-03-25 16:24] ebelter commented on #123
Allison's change was. I updated things in genotype microarray model dir.
 On Mar 25, 2014 11:21 AM, "Avinash Ramu" notifications@github.com wrote:

[2014-03-25 16:24] malachig commented on #123
I did a complete merge 9 days ago (March 16) here:
https://github.com/genome/gms-core/commit/40cf7ddeb36eb1a8f119524692a11792086d281d

That was the last one.  The last few complete merges went pretty smoothly.  Maybe we should try that instead of a selective merge?  Depends on how obvious the selective merge is and how many other things have changed that might introduce new problems...

[2014-03-25 16:35] gatoravi commented on #123
yeah, might be worth trying a merge if there’s a stable snapshot with these changes. I’m checking that now.
On Mar 25, 2014, at 11:24 AM, Malachi Griffith notifications@github.com wrote:

[2014-03-25 16:41] gatoravi commented on #123
there hasn't been a stable snapshot with @apregier 's commits in them. We'll have to wait for the next snapshot before merging in to avoid unstable builds.

[2014-03-27 17:06] malachig opened #136 "make vminit and make vm fail - "vboxsf file system is not available""
I am now getting the following error when attempting to install the sGMS in a VM on my MacPro Desktop.  The problem seemed to coincide with an update of VirtualBox to the latest version: `4.3.10 r93012`:

[code]

Based on that error, I'm wondered if the vagrant guest additions update plugin `vagrant-vbguest` is not compatible with this version of VirtualBox.

Or it may be that the latest version o

[2014-03-27 17:23] malachig commented on #136
Updating to the latest version of Vagrant: `Vagrant 1.5.1` did not help.

[2014-03-27 18:14] gatoravi commented on #136
Is this during the `make vminit` step ?

[2014-03-27 19:57] malachig commented on #136
Note to test the automated installation of VirtualBox and Vagrant on a Mac you should download the DMGs for the currently installed version of each of these and use the uninstall tool that comes with it.  Then you should `rm -fr /tmp/gms-install-done-local/`.  Then from a fresh gms checkout, run 'make vminit'.

You should be prompted to install VirtualBox and then vagrant.

[2014-03-27 20:10] malachig commented on #136
This does seem to be related to the `vagrant-vbguest` plugin.  If I add `config.vbguest.auto_update = false` to the Vagrantfile before running `make vminit`, the update to VirtualBox Guest Additions is skipped and the Make succeeds...

[2014-03-27 20:29] malachig commented on #136
Similarly, downgrading to `VirtualBox 4.3.8 r92456`, also resolves this issue.  This is apparently a compatibility issue between:
`vagrant-vbguest` and `4.3.10 r93012` and this Ubuntu 12.04 image: `precise64 http://files.vagrantup.com/precise64.box`.

For now the solution is to install 4.3.8 and ignore prompts to update to 4.3.10.  Another solution could be to abandon updating the VirtualBox guest

[2014-03-27 20:39] malachig commented on #136
Created an issue over at vagrant-vbguest here: https://github.com/dotless-de/vagrant-vbguest/issues/116

[2014-03-28 17:10] apregier commented on #123
This snapshot went out yesterday - you probably want to use the hotfix one (genome-3447-fix1)

[2014-03-28 17:16] gatoravi commented on #123
yep, we just merged it in this morning ! Is a hotfix a git-tag ?

[2014-03-28 18:35] apregier commented on #123
Sorry, I was wrong - hotfixes are not actually implemented as git repos, so there won't be a hotfix tag.  I guess you may want to do another merge when the next snapshot comes out so that you get the fix for the UsageLog warnings.

[2014-03-28 19:31] malachig commented on #123
Many thanks to everyone who helped out on this especially @ebelter and @apregier

We went ahead and merged gms-core master branch into the gms-pub branch here:
https://github.com/genome/gms-core/commit/61466329ada3b8f5ded848ec9d9cee53a2ecc8b2

Instead of waiting for the next snapshot to go out we determined from Jenkins tests that everything looked stable and merged at that time.

This has resolve

[2014-03-28 19:31] #123 closed, assigned to ebelter

[2014-03-28 19:36] malachig commented on #135
This sounds like a conflict between the way APT sources are configured in your environment (openstack?) and what is expected by the sGMS (basically a vanilla Ubuntu install with a few APT sources added during the sGMS make process).

Following the approach described here to scrub existing APT configuration before installing the sGMS should resolve this issue.

https://github.com/genome/gms/blob/ub

[2014-03-28 19:39] malachig commented on #107
We have not had issues related to GENOME_\* environment variables in the sGMS for a while now.  This appears to be resolved.  Closing the issue.

[2014-03-28 19:39] #107 closed, assigned to malachig

[2014-03-30 05:31] malachig commented on #136
It looks like this is now a known issue with VirtualBox 4.3.10 and not related to the vagrant-vbguest plugin.

VirtualBox issue here:
https://www.virtualbox.org/ticket/12879

[2014-03-30 05:38] malachig commented on #13
This issue is resolved.  Everything seems to be in order with `genome model clin-seq update-analysis`.  Closing this issue.

[2014-03-30 05:38] #13 closed, assigned to malachig

[2014-03-30 05:43] malachig commented on #63
This issue is resolved.  The `apt-genome-config` package is no longer used.  APT sources are configured during the sGMS install in a more transparent and easily updated manner.

Refer to the make target `done-host/etc` for further details.

Closing this issue.

[2014-03-30 05:43] #63 closed, assigned to mcallaway

[2014-03-30 05:51] malachig commented on #64
Use of the down-sampled data is now handled by: `gms/setup/prime-system.pl`.

An alternate method for use of arbitrary data sets including the down-sampled data is also being described here:
https://github.com/genome/gms/wiki/Beginner%27s-Guide-to-Data-Import

The actual test data set seems to be working smoothly.  Closing this issue.

[2014-03-30 05:51] #64 closed, assigned to zlskidmore

[2014-03-30 05:56] malachig commented on #75
Since the latest round of merges from master this issue is now resolved.  Warnings for SNPs on chromosomes not available in the reference build are now handled more gracefully.  Closing this issue.

[2014-03-30 05:56] #75 closed, assigned to obigriffith

[2014-03-31 15:42] malachig commented on #74
This issue is now resolved.  clin-seq builds now contain the expected SV summaries, plots, etc.

[2014-03-31 15:42] #74 closed, assigned to malachig

[2014-03-31 15:44] malachig commented on #53
(1), (3), (4), and (6) are done.

(2) We are still polishing documentation describing version 1 of a sample importer.
(5) Still no detailed plans for how we will facilitate adding disk and extra nodes to sGMS systems.

[2014-03-31 15:47] malachig commented on #59
This issue is resolved.  The R installation is substantially changed from when this ticket was open.  The specific error with `SpliceJunctionSummary.R` has been resolved.  Closing this issue.

[2014-03-31 15:47] #59 closed, assigned to malachig

[2014-03-31 15:49] malachig commented on #88
For now I am closing this issue.  We should still come up with some method for producing coverage reports in the sGMS though...

[2014-03-31 15:49] #88 closed, assigned to malachig

[2014-03-31 15:58] malachig opened #137 "gmt --help fails with perl autoloading error for Math/Combinatorics.pm"
Getting the following error in the sGMS but not within TGI.

`gmt --help`

[code]

@chrisamiller do you by chance know how `Math::Combinatorics` used by `Genome::Model::Tools::Sciclone` is installed?

[2014-03-31 16:08] ghost commented on #137
On my workstation, Math::Combinatorics is installed at /usr/share/perl5/Math/Combinatorics.pm.  That file was installed by the libmath-combinatorics-perl package.

[2014-03-31 16:10] malachig commented on #137
Looks like this was added to `genome-snapshot-deps` for lucid but not precise:

[code]

[2014-03-31 16:14] malachig commented on #137
On an sGMS system:

[code]

Installation seems to work:

[code]

After installation:

[code]

[2014-03-31 16:18] malachig commented on #137
To fix this issue we need to add `libmath-combinatorics-perl` to genome-snapshot-deps for precise, update the changelog, publish to the APT repository, and update our APT dump.  @gatoravi as you have done this several times recently, can you please take this one.

[2014-03-31 16:23] gatoravi commented on #137
ok great, adding this now.

[2014-03-31 16:25] malachig commented on #135
I believe this is resolved.  Closing now.

[2014-03-31 16:27] malachig commented on #128
This issue has been resolved for now with the creation of `gms/setup/prime-system.pl`.  Closing.

[2014-03-31 16:27] #128 closed, assigned to malachig

[2014-03-31 16:31] malachig commented on #106
This dependency is now installed as a Debian package rebuilt for Precise.

On a recent sGMS install:

[code]

Closing this issue now.

[2014-03-31 16:31] #106 closed, assigned to malachig

[2014-03-31 16:32] malachig commented on #134
This issue is now resolved.  Cosmic v65 is now installed correctly during a fresh install and is correctly used by ClinSeq builds.  Closing.

[2014-03-31 16:32] #134 closed, assigned to malachig

[2014-03-31 16:35] malachig commented on #119
All of these dependencies are now installed as Debian packages.  Where necessary they have been rebuilt for Ubuntu Precise.  Closing this issue now.

[2014-03-31 16:35] #119 closed, assigned to gatoravi

[2014-03-31 16:36] malachig commented on #108
Updates to the schema have been incorporated.  Closing this issue now.

[2014-03-31 16:36] #108 closed, assigned to sakoht

[2014-03-31 16:38] malachig commented on #117
This issue with character length for field `version` of table `result.software_result` has been fixed.  Closing.

[2014-03-31 16:38] #117 closed, assigned to malachig

[2014-03-31 16:45] malachig commented on #110
Closing this issue for now.

[2014-03-31 16:45] #110 closed, assigned to sakoht

[2014-03-31 16:52] malachig commented on #132
The versions of joinx now installed in the sGMS are as follows:

[code]

Within TGI:

[code]

Within sGMS:

[code]

In other words, joinx versions are now identical between TGI and sGMS.  Closing this issue now.

[2014-03-31 16:55] malachig commented on #124
This is resolved with a recent update that added `libsort-strverscmp-perl` to `genome-snapshot-deps` for precise.

Closing this issue now.

[2014-03-31 16:55] #124 closed, assigned to malachig

[2014-03-31 16:56] malachig commented on #109
We are currently not aware of any remaining schema related problems.  Closing this issue.

[2014-03-31 16:56] #109 closed, assigned to gatoravi

[2014-03-31 17:00] malachig commented on #115
Builds now start and can be abandoned without issue.  Closing this issue.

[2014-03-31 17:00] #115 closed, assigned to sakoht

[2014-03-31 17:01] malachig commented on #118
Expected event types are now primed during sGMS installation.  This resolves the issue with builds starting cleanly.  Closing this issue.

[2014-03-31 17:01] #118 closed, assigned to malachig

[2014-03-31 17:04] malachig commented on #121
This issue is resolved with updates to `genome-snapshot-deps` for precise.  Circos plots are now successfully generated in clin-seq build run on the sGMS.  Closing.

[2014-03-31 17:04] #121 closed, assigned to malachig

[2014-03-31 17:07] malachig commented on #120
New versions of bam-readcount are now installed in the sGMS:

[code]

[2014-03-31 17:09] malachig commented on #97
This has been resolved by updating `genome-snapshot-deps` for precise and rebuilding this package for precise:

[code]

Closing this issue now.

[2014-03-31 17:09] #97 closed, assigned to obigriffith

[2014-03-31 17:10] malachig commented on #125
Somatic-variation processing profiles have now been updated and somatic-variation builds are once again succeeding.  Closing this issue now.

[2014-03-31 17:10] #125 closed, assigned to nobody

[2014-03-31 17:13] malachig commented on #127
This has been resolved.  Microarray models without successful builds no longer cause problems with clin-seq builds.  Closing this issue.

[2014-03-31 17:13] #127 closed, assigned to malachig

[2014-03-31 17:16] malachig commented on #131
This issue is now resolved.  Running builds are now abandoned cleanly even if these have running jobs on OpenLava.  Closing.

[2014-03-31 17:16] #131 closed, assigned to sakoht

[2014-03-31 17:22] malachig commented on #102
It looks like the latest round of merging has resolved this issue.  bam-readcount commands now succeed without error.  Closing this issue.

[2014-03-31 17:22] #102 closed, assigned to gatoravi

[2014-03-31 18:22] gatoravi commented on #137
genome-snapshot-ceps was updated and a new APT dump(2014.03.31) was created which contains 'libmath-combinatorics-perl'. This APT dump was tested on a VM and works fine.

[code]

[2014-03-31 18:23] gatoravi commented on #137
`gmt --help` also works fine, closing this issue for now.

[2014-03-31 18:23] #137 closed, assigned to gatoravi

[2014-03-31 20:10] ghost commented on #135
I think the issue may be particular to the ubuntu cloud image that is being used on openstack.  I was not able to recreate the issue on new installs of ubuntu desktop or ubuntu server.  I'll try to confirm the issue using the ubuntu cloud image under vagrant.

[2014-03-31 20:14] ghost opened #138 "during installation: touch: cannot touch `/opt/gms/test': No such file or directory"
While installing sgms on ubuntu desktop, server, and a vagrant-ready copy of ubuntu cloud image, I receive the following error during make:

[code]

Issuing the following command fixes the problem and continues the installation process:

[code]

[2014-03-31 20:16] ghost commented on #135
I can reproduce this issue on the vagrant-ready ubuntu cloud image vm running on my workstation and on openstack.

[2014-03-31 20:22] gatoravi commented on #138
I've had this problem when I've had disk images left over from a previous install on a VM. Running `vagrant destroy` before the install usually helps for me and removes all the previous ".vdi" files. Do you think this might be the case for you ?

[2014-03-31 21:02] malachig commented on #67
I believe this issue is now resolved.  If the user sets `GENOME_USER_EMAIL` to a valid email address and the local network allows outgoing emails, LSF reports will go there.  Closing the issue.

[2014-03-31 21:02] #67 closed, assigned to gatoravi

[2014-03-31 21:05] malachig commented on #113
This is now working.  Syncing from the new FTP server is working smoothly.  Closing this issue now.

[2014-03-31 21:05] #113 closed, assigned to malachig

[2014-04-01 14:05] ghost commented on #138
The situation that I'm dealing with might be different.  While I am using vagrant, these problems were experienced on newly initialized vagrant boxes.

[2014-04-01 22:56] malachig opened #139 "How do I clean up an orphaned allocation?"
Occasionally a system crash or other outage during a build will result in an 'orphaned' disk allocation.  For example as in the following warning and error message:

[code]

To clean up, you need to do the following:
Check to make sure the owner mentioned actually doesn't exist and isn't being generated

[code]

Make sure the process isn't running on the machine (i.e. PID: 24205 on precise64-vagra

[2014-04-01 23:19] malachig commented on #114
@mkiwala-g is it your opinion that this issue is now resolved?

[2014-04-01 23:24] malachig commented on #136
It looks like there is new version of VirtualBox guest additions that will resolve this issue, as will the next version VirtualBox.  The next time we update automatic installation of VirtualBox by the sGMS makefile we should proceed directly to VirtualBox >= 4.3.11.  Closing this issue.

[2014-04-01 23:24] #136 closed, assigned to malachig

[2014-04-01 23:28] malachig commented on #130
There have been no obvious issues with the updated metadata dump for TST1 (HCC1395).  Everything seems to be in order with the processing profiles for the demonstration analysis and the results of this analysis.  Closing this issue.

[2014-04-01 23:28] #130 closed, assigned to malachig

[2014-04-01 23:29] malachig commented on #133
We have not observed any issues with these new dependencies.  Closing this issue.

[2014-04-01 23:29] #133 closed, assigned to gatoravi

[2014-04-01 23:32] malachig commented on #126
I am leaving this issue open until we have carefully reviewed graphical results and other result files generated with R in rna-seq and clin-seq builds.  For example:
- Tophat junction splicing results in rna-seq
- mutation-spectrum plots in clin-seq
- clonality plots in clin-seq
- SNV WGS/Exome/RNA integration plots in clin-seq
- Differential expression results in clin-seq
- etc.

[2014-04-01 23:35] malachig commented on #116
This clean-up is complete.  We have not observed any issues with sGMS installation or builds being run since removing unwanted files from the FTP site and isolating downloading of BAMs.

Closing this issue now.

[2014-04-01 23:35] #116 closed, assigned to malachig

[2014-04-01 23:37] malachig commented on #120
With the resolution of issue #119, this issue is also now resolved.  Closing.

[2014-04-01 23:37] #120 closed, assigned to gatoravi

[2014-04-02 14:21] malachig opened #140 "Somatic-variation fails during 'Annotate And Upload Variants'"
Annotate and Upload Variants is crashing without an 'ERROR' statement.  But I am seeing the following warnings and a dump.  The step continues on and produces similar errors for multiple files being annotated.

[code]

The problem seems to be during sv annotation?  The "Intervals must have positive width" warning appears to involve one of these objects: `my $tree = Set::IntervalTree->new();`.  Tha

[2014-04-02 14:36] apregier commented on #140
I think this is the same error we were seeing when the wrong version of libset-intervaltree-perl was installed (https://github.com/genome/gms/issues/97)

[2014-04-02 14:36] malachig commented on #140
This sounds related to issue #97.  That issue was resolved by determining that a particular version of `Set::IntervalTree` needs to be installed (`0.07-1 0`).

It looks like we resolved and closed this issue by installing the package manually.  Then later we built a Debian package for precise but this was built using version 0.09.  On clia1 right now:

[code]

[2014-04-02 14:48] malachig commented on #140
On a VM.

[code]

Apparently we need the older version of `libset-intervaltree-perl` but:

[code]

This package does not work with Ubuntu precise.  I believe @kindjal built a new version of the package specifically for Precise.  But I guess he sensibly targeted the latest version instead of this old one.  The new one installs and loads but introduces a bug.

Two options to resolve:
- Return to man

[2014-04-02 19:57] malachig commented on #140
@kindjal has opened a JIRA issue for this issue here: https://jira.gsc.wustl.edu/browse/INFOSYS-10563

[2014-04-02 21:26] malachig commented on #140
A new package has been created: `libset-intervaltree-perl=0.07-1~precise0`

To test, in a VM I did:

[code]

[2014-04-02 21:33] malachig commented on #140
Next step is to update genome-snapshot-deps for precise from:

[code]

To:

[code]

Then we will have to rebuild our APT repo for the sGMS and retest the install and exome somatic-variation (with the full data set where we get SVs) to know that it is working...

[2014-04-02 22:22] gatoravi commented on #140
a new APT dump was created 2014-04-02, the Makefile was updated to use the new APT dump here, https://github.com/genome/gms/commit/92cc189cec4d1703ae44e22d3d238f5ed7fe836f This APT dump has to be tested using the procedure described above.

[2014-04-03 13:54] ghost commented on #114
Parts 1 and 2 above are resolved.  A solution to part 3 was never pushed, but the sample import script and clinseq update-analysis already are designed to define differential expression models by using IDs instead of model names.

Since clinseq-update analysis is the preferred approach to guiding users to define differential expression models, solving part 3 does not seem important.

[2014-04-03 13:54] #114 closed, assigned to nobody

[2014-04-03 21:18] ghost commented on #57
clinseq update-analysis filters out instrument data in the Solexa subclass.  The data imported by this tool is in the "Imported" subclass.  Is ok to remove the filter for Solexa only reads?

[2014-04-03 21:56] malachig commented on #57
What is does the output of `genome sample list --filter individual_common_name=TST1` look like in your test system?

[2014-04-04 15:03] ghost commented on #57
I ran the command you requested.  It displays sample information which was imported from the metadata file:

[code]

The import script imports samples under the "TST1ds" name, so also ran that command:

[code]

There is a difference in the common name for the rna samples between the TST1 and TST1ds samples (eg, "tumor" vs "rna tumor").  It looks like Obi wrote that code as part of a large commit.

[2014-04-04 16:01] malachig commented on #57
Yes, that look like a typo.  The sample common name should be 'normal', 'tumor', etc.  The 'rna' vs. 'genomic dna' is used for extraction type.  That part looks correct.

[2014-04-04 19:46] malachig commented on #3
This is done.  Went with option (2).  Although we should also do option (4) in the future as we improve the wiki.  Closing this issue now.

[2014-04-04 19:46] #3 closed, assigned to obigriffith

[2014-04-04 20:06] malachig commented on #54
I have started a wiki page to document how the user can adjust resource requests for particular compute intensive steps here:

https://github.com/genome/gms/wiki/Where-resource-requests-are-defined

Closing this issue now.

[2014-04-04 20:06] #54 closed, assigned to malachig

[2014-04-04 20:10] malachig commented on #122
@gatoravi, when you get a chance can you reformat this documentation into a Wiki page here: https://github.com/genome/gms/wiki/Documentation

And then close this issue.

[2014-04-04 20:17] malachig commented on #139
This documentation on cleaning up orphaned allocations has been reformatted and moved to the GMS wiki.  Closing this issue now.

[2014-04-04 20:17] #139 closed, assigned to malachig

[2014-04-05 09:48] sakoht commented on #3
Good call.

Sent from my iPhone

[2014-04-07 15:07] gatoravi commented on #122
this is here,
https://github.com/genome/gms/wiki/How-to-create-APT-tar-balls-for-the-GMS-from-inside-The-Genome-Institute.

[2014-04-07 15:07] #122 closed, assigned to gatoravi

[2014-04-08 03:49] gatoravi commented on #135
I see this issue on a docker install as well. This is my /etc/apt/sources.list

[code]

[2014-04-08 03:54] gatoravi commented on #135
Doing this `sudo cp -f setup/system_tests/sources.list /etc/apt/` mentioned here, https://github.com/genome/gms/blob/ubuntu-12.04/setup/system_tests/clia1 helps find the right sources. Looks like some versions of precise come with a different sources.list compared to others. Understanding when this happens might help us decide whether to make this step a part of the regular install. So far its bee

[2014-04-08 14:39] ghost commented on #135
When I observed this issue on openstack, the vm instance was running the ubuntu-cloud-image version of ubuntu.  I was able to recreate the issue on vagrant by using the ubuntu-cloud-image there.  When you saw this issue with Docker, were you using the ubuntu-cloud-image?

Is there any reason that we should not change the installation to always copy our sources.list over `/etc/apt/sources.list`?

[2014-04-08 15:08] malachig commented on #135
We could certainly try that.  I added it to the repo with that thought in mind.  I got it from the Ubuntu precise image from Vagrant.  It seems to have a much more inclusive list of APT repos.  The install also seems to work smoothly when we use the latest Ubuntu 12.04 Desktop iso image.

[2014-04-08 15:39] gatoravi commented on #135
I was just using the base ubuntu image on Docker. https://index.docker.io/_/ubuntu/  The only reason that I can think of not to do it is if the user has a customized `sources.list`. We wouldn't want him/her to lose those changes. Wonder what @kindjal thinks ?

[2014-04-09 17:05] malachig opened #141 "Document installation of the GMS using Docker"
Describe the current procedure for installation of the GMS via Docker.  Create an Ubuntu docker image with modifications that allow the GMS installation to proceed without problems.  Share this Ubuntu docker image.

Once this is working, create a wiki page describing the step-by-step procedure for firing up the GMS using Docker.  If it is simple enough, a section could also be added to the main in

[2014-04-09 21:33] gatoravi commented on #141
A separate dev branch "docker-test" was created to test the docker installation.
Install steps specific to docker:

[code]

This branch  was tested by running

[code]

This was done on a docker image which was basically a base ubuntu image with a temporary user 'jdoe'. Git, ssh, make and vim were installed to make it easier for the users. The permissions of /tmp were changed to 1777 `chmod 1777 /t

[2014-04-09 22:27] gatoravi commented on #141
Right now the install process on docker  looks like this, this will be written up into a more formal document once we have tested the capabilities of docker to run builds etc.
1. Install docker - refer here - http://docs.docker.io/en/latest/installation/ubuntulinux/ - docker works best on Linux on a recent kernel. Installing on a Mac is a bit of a hack.
2. `sudo docker pull gatoravi/sgms_jdoe`
3.

[2014-04-10 17:39] malachig opened #142 "Streamline configuration of system for testing in low resource environments"
There are some problems related to running tests in low resource environments.

1.) If you download the pre-configured VM and run analysis it currently gets locked on openlava jobs with insufficient resources.  In the pre-configured VM we need to set `WF_LOW_RESOURCES=1`, we also need to adjust the OpenLava MJX value to at least 64, we should also adjust the per slot memory request in `Workflow/Di

[2014-04-10 20:53] malachig commented on #135
This should be resolved by this commit:
https://github.com/genome/gms/commit/8a7c740a11ca1bb760afbee3958334f669f00525

APT sources are now more completely configured from files stored in the gms repo.  This should reduce the chances of APT config issues when installing on slightly different flavors of Ubuntu 12.04 images.  Closing this issue now.

[2014-04-10 20:53] #135 closed, assigned to nobody

[2014-04-10 21:07] malachig commented on #89
Both mutation-spectrum and cummeRbund results from R appear to be working cleanly now. Closing this issue.

[2014-04-10 21:07] #89 closed, assigned to malachig

[2014-04-10 21:18] malachig commented on #105
All of these figures look good in the latest clin-seq build run clia1.  Closing this issue.

[2014-04-10 21:18] #105 closed, assigned to malachig

[2014-04-10 21:22] malachig commented on #96
This is fixed.  SV annotations are now working and final annotated and visualized SV translocations make it into the sv dir of clin-seq builds.  In WGS somatic builds `effects/svs.hq.annotated` and `variants/sv/union-union-sv_breakdancer_1.3__7-sv_breakdancer_1.3__8-sv_squaredancer_0.1__1/svs.hq.merge.annot.somatic` both appear to be in order.

Closing this issue now.

[2014-04-10 21:22] #96 closed, assigned to obigriffith

[2014-04-10 21:23] malachig commented on #91
The latest clin-seq builds on the full hcc1395 data set have a `sv/CandidateSvCodingFusions.tsv` that appears to be in order.  Closing this issue now.

[2014-04-10 21:23] #91 closed, assigned to malachig

[2014-04-10 21:46] gatoravi opened #143 "empty microarray CNV plots on clinseq-builds."
The clinseq builds have not CNV plots. This is because the microarray files "tumor.copynumber.original" and "normal.copynumber.original" have a different format on the sGMS compared to TGI. The wrong columns are then used by the tool to call CNV's.

[2014-04-11 15:41] malachig commented on #138
@mkiwala-g can you still reproduce this error?

[2014-04-11 15:46] malachig commented on #126
I have reviewed all of these results on the latest clia1 test run using the complete HCC1395 data. Everything seems to be in order.  The Renv installation of R seems to work nicely, as far as we can tell has all the capabilities of the R install used within TGI and install much faster than the custom build we were doing before.  Many thanks to @kindjal for helping us sort all of this out.

Closing

[2014-04-11 15:46] #126 closed, assigned to malachig

[2014-04-11 16:47] malachig commented on #142
(1) I have generated a new version of the pre-configured VM that has low resource configurations in place.

(2) I have modified `setup/prime-system.pl` to handle low resource configuration for the user.  @gatoravi has added an environment variable to `Workflow/Dispatcher/Lsf.pm` to help us fine tune memory requests.  Relevant commits are here:
https://github.com/genome/gms/commit/a842580030536cd95

[2014-04-14 14:46] ghost commented on #138
Yes -- I just reproduced it over the weekend on my workstation.  Have many others been attempting the install on a precise64 image hosted with VirtualBox/Vagrant?  I'll see if I can reproduce it using Vagrant on my laptop.

[2014-04-14 15:44] malachig commented on #138
I have done it many times on my MacPro laptop and on my Mac Desktop.  I have also done a vagrant install on blade16-4-16.  But I haven't been able to produce that error.

[2014-04-15 14:14] ghost commented on #138
I just recreated the issue on my MacBook Pro laptop, using Vagrant 1.4.3 and VirtualBox 4.6.3.

My steps were to initialize a new precise64 Vagrantfile, then boot and log into the vm.  Then on the vm and perform the following steps:

[code]

Since I can recreate the issue on another host, I believe this issue deserves more investigation.

[2014-04-15 20:07] ghost commented on #138
The `/opt/gms` directory is created by the `done-host/gms-home-raw` target if the directory does not already exist.  It appears by this code, the `done-host/gms-home-raw` would not be executed when running in a typical Vagrant virtual machine because the `/vagrant` directory will exist, preventing the `/opt/gms` directory from being created.

[code]

[2014-04-16 16:06] malachig commented on #142
This all seems to be working more smoothly now.  Closing this issue now.

[2014-04-16 16:06] #142 closed, assigned to malachig

[2014-04-16 16:09] malachig commented on #140
This should be resolved now.  Closing the issue.

[2014-04-16 16:09] #140 closed, assigned to malachig

[2014-04-17 22:04] obigriffith opened #144 "minor issues with tutorial on importing data"
I attempted the tutorial on importing data here from within the pre-configured VM:
https://github.com/genome/gms/wiki/Beginner%27s-Guide-to-Data-Import

There were a few minor issues:
1) The VM does not currently contain:
~/gms/downsampled-demo-data/
where the referenced scripts live. I had to do a git fetch/pull on the gms repo to get it. VM should be updated!

2) The 'source-files' path specifie

[2014-04-22 14:42] obigriffith commented on #144
I have rerun the import tutorial. It works much better now. I still see the error discussed above in (3). Namely, during import of instrument data steps I get:
Useless use of private variable in void context at (eval 1183) line 6.

One other thought - why not have the example shown on the tutorial page be the first set of commands from each step rather than the last?  Wouldn't this seem more logic

[2014-04-22 15:09] ghost commented on #144
I can look into the warning.

I agree, having the example always be the first block of code would be simpler.  We just have to make sure that the first instrument data import command corresponds to the first library creation command and the first sample creation command.  I'll can make these changes as well.

[2014-04-25 15:33] ghost commented on #144
I have [fixed](https://github.com/genome/gms-core/commit/ce44f55461186053d4165461779c974261dfb992#diff-1fcf415156ce8c3b7654a31bbd445b20) the code to not throw a warning message during instrument data import.  The wiki has been updated to always use the first genome command from each section of the script.

[2014-05-15 15:30] ghost opened #145 "Somatic Validation Build Fails on 1/10 Percent Downsampled Data"
The somatic validation build fails when processing the 1/10 percent downsampled wgs data.  This has been an issue since the 1/10 percent downsampled bams were _name sorted_ a couple of days ago.

**The steps to recreate the issue are:**
$ ./setup/prime-system.pl --data=hcc1395_1tenth_percent --sync=tarball
$ genome model build start 2891325873
$ genome model build start 2891325882
_wait for those

[2014-05-15 18:38] ghost commented on #145
I spoke with @tabbott today.  I'll summarize the conversation:
1) We can modify the somatic validation pipeline to not complain when there is too little data
2) We can increase the amount of data that we are using

[2014-05-15 18:59] malachig commented on #145
So this is somatic-variation and not somatic-validation right?

The test run is already a bit long and we may have to make the data set much larger to avoid this problem.  So I am not a fan of option (2).

For option (1) we are actually getting and error and crash now right?  Not just a warning.  Perhaps giving a warning but allowing the build to progress would be the best option...

[2014-05-15 19:06] ghost commented on #145
Yes, somatic-variation is what I meant.  We are getting an error and a crash, not just a warning.

Do you have a preference for how a warning would be delivered to the user?

[2014-05-15 19:08] malachig commented on #145
Just a warning message during the build process that gets stored in the usual log files seems fine to me...

i.e. `$self->warning_message('text of warning')`

[2014-05-16 17:54] ghost commented on #145
@tmooney and I wrote a patch yesterday which fixes this problem.  One of the previously failing models for auto-imported data now builds successfully.  I'll continue testing other models.

[2014-05-19 17:38] ghost commented on #145
genome/gms-core@72dc7371aa20d6f5f11fd61f8e44a921c28e3415 is the relevant patch.  The wgs somatic variation model succeeds on both auto-imported and manually imported bams even when they are name sorted.

[2014-06-25 19:39] malachig opened #146 "Test sGMS install on OpenStack and provide specific instructions (tutorial) for using OpenStack"
We should document our experiences with running the sGMS on OpenStack and provide a clear path to get a new user (internal to TGI or external) up and running on this platform.

[2014-06-25 20:05] #145 closed, assigned to nobody

[2014-06-25 20:11] malachig opened #147 "Document creation of certain auxiliary data used in the GMS"
It would be nice (both for internal GMS users/developers and external users) if we had documentation covering some use cases related to auxiliary annotation data used in the GMS.  For example,
- How do I create a modified reference genome build based on an existing one?  For example, say I want to do alignments against human reference build37 with a virus sequence added.
- How do I import an entir

[2014-06-25 20:14] malachig commented on #141
@gatoravi let's move this documentation to the Wiki and close this issue.

[2014-06-25 21:34] malachig opened #148 "When installing sGMS via `make vminit` the installer only support certain host systems - make this clear"
Currently if you want to install sGMS inside a VM automatically using vagrant you can do so and it will walk you through the process of installing Vagrant and VirtualBox, then adding an Ubuntu12.04 box VM, logging into that machine and running the rest of the make process.  This works by installing as follows: `make vminit; vagrant ssh; make`.

This only works when the host system is: Mac OSX (dar

[2014-06-26 20:14] gatoravi commented on #141
This is here, https://github.com/genome/gms/wiki/GMS-Installation-on-Docker

[2014-06-27 01:25] malachig opened #149 "Test sGMS install on Amazon EC2"
First pass, attempting install with a Community AMI of Ubuntu 12.04:
- Log into AWS console
- Find the EC2 dashboard
- Hit the 'Launch Instance' button
- Find the following AMI in the 'Community AMIs': `ubuntu/images/hvm-ssd/ubuntu-precise-12.04-amd64-server-20140606` aka `ami-3daad70d`
- Start EC2 instance type: m3.2xlarge (8 cpus, 30 Gb ram, 80 Gb ssd storage)
- During the creation of this insta

[2014-07-08 18:22] ghost commented on #144
I believe that this issue has been resolved.

[2014-07-08 18:22] #144 closed, assigned to nobody

[2014-07-08 20:33] ghost commented on #147
I've rounded up some internal documentation which answers many of these questions.  I'm reviewing the documentation to see what I could adapt for posting to the wiki on github.

[2014-07-23 21:03] malachig commented on #149
Next steps:

1.) _AMI creation_.  Create and save an AMI that streamlines the installation above.  We want to provide an AMI that the user can log into, clone the repo, and type `make` with as little preamble as possible.  This will mean among other things setting a password for the ubuntu user (we can use 'sgms').

2.) _sGMS Amazon tutorial creation_.  Create a detailed tutorial with screenshots

[2014-07-28 19:27] gatoravi commented on #149
Installation completes succesfully on SGMS_INSTALL_V1 (ami-e9ee95d9, region = "US - West[oregon]" ) using a "m3.2xlarge" instance.
Note - this instance type is not sufficient to run the demo analysis.

[2014-08-06 15:22] ghost commented on #149
@gatoravi On OpenStack I was able to run most of the builds against the 0.1% downsampled TST1 data using an "m1.2xlarge" instance flavor.  To get around only having 160GB of disk storage, I attached two additional volumes to the instance (1 TB of /tmp space and another 1TB mounted on /opt).  Perhaps something similar would work on amazon.

The only reason that I didn't run all of the builds was th

[2014-08-06 15:25] gatoravi commented on #149
Thats a great suggestion ! Any ideas on how to automate the attaching of the volumes ?

[2014-08-06 15:33] ghost commented on #149
I haven't tried automating the process of attaching the volumes.  For the space on /tmp, in OpenStack while I'm configuring my instance, I'm given the option to set my "Instance Boot Source" to "Boot from Image (Creates New Volume)", and I am able to specify that the new volume is 950GB in size (so not quite 1TB).  That's how I handle /tmp.

If amazon gives you this option, you may be able to ask

[2014-08-07 19:42] ghost commented on #146
I've posted some [documentation](https://github.com/genome/gms/wiki/Developers-guide-to-installing-the-GMS-on-an-OpenStack-instance).

Please review it.  Would you like me to link it from the list [here](https://github.com/genome/gms/wiki/Documentation#for-gms-developers)?

[2014-08-08 03:10] malachig commented on #146
This looks great. Nice job. Yeah, let's post this in the developer's
documentation section beside the one for Amazon AWS.

Malachi
On Aug 7, 2014 12:42 PM, "mkiwala-g" notifications@github.com wrote:

[2014-08-08 13:49] ghost commented on #146
The new documentation has been linked in the developer's documentation section beside the one for Amazon AWS.  I believe that resolves this issue.

[2014-08-08 13:49] #146 closed, assigned to nobody

[2014-08-11 16:17] ghost commented on #147
As documentation is tested, I'm moving it [here](https://github.com/genome/gms/wiki/Auxiliary-Data-Import).

[2014-08-13 17:22] ghost commented on #147
The documentation for importing references and dbsnp have been posted.

Ensembl imports will not be quite as straightforward, and will require more time.

[2014-08-18 04:11] malachig commented on #149
Results from AWS EC2 tests using the complete HCC1395 exome data set.  Priming data takes ~3-4 hours.  Analysis times as follows:

_i2.2xlarge_
model name  start time  end time    time length (hh:mm)
hcc1395-tumor-snparray  8/14/14 18:25   8/14/14 18:52   0:26
hcc1395-tumor-refalign-exome    8/14/14 16:20   8/15/14 10:08   17:48
hcc1395-somatic-exome   8/15/14 15:00   8/16/14 1:29    10:29
hcc1395

[2014-08-18 18:32] malachig commented on #148
@gatoravi did you have a chance to look at this?

[2014-08-18 18:33] malachig commented on #147
@mkiwala-g are you done with this task for now?  We can always ask for more documentation, but I think we have covered most of the critical areas now...

[2014-08-18 18:46] malachig opened #150 "Conduct a review of existing analysis platform options and summarize in a Supplementary Table"
We need summarize competing initiatives to the GMS and provide a reference table describing the current lay of the land with respect to relevant existing resources.
- GATK's Queue (http://gatkforums.broadinstitute.org/discussion/1306/overview-of-queue)
- Arvados
- bcbio-nextgen
- ‘ga4gh’
- gkno. http://gkno.me/
- Illumina base space
- CGA's Firehose (http://www.broadinstitute.org/cancer/cga/Fireho

[2014-08-18 18:51] ghost commented on #147
@malachig, I'm working on documentation for the Ensembl annotations based on importing the GRCh38 reference genome and then importing the homo_sapiens_core_76_38 ensembl database.

I have not yet gotten this working yet myself, so these steps are incomplete, but a rough outline might be:
- Install and setup mysql
- load mysql with an ensembl database
- choose and download ucsc tiering and conserva

[2014-08-18 18:55] ghost commented on #147
@malachig I should have also mentioned that this documentation would target a "developer" audience since following this documentation would require some coding in order to have the ensembl annotations imported.

[2014-08-18 18:58] gatoravi commented on #148
Sorry forgot to update here,

This is dealt with [here](https://github.com/genome/gms/commit/d6e1032ccca119e9cd3fa7ff5d0464bcd7d6ec9b), the installer exits with an error if the host OS is unrecognized.

[2014-08-18 18:59] ghost commented on #147
It turns out that I'll need to develop this documentation anyway.  I leave it up to you whether to close this issue now or not.

[2014-08-18 19:30] malachig commented on #148
Ok thanks.  Closing this now then.

[2014-08-18 19:30] #148 closed, assigned to gatoravi

[2014-08-18 19:33] malachig commented on #149
We now have an AMI that is ready and tested for installation of the sGMS in all 8 Amazon EC2 regions.  In all cases, the AMI is named 'SGMS_INSTALL_V1'.  To do the exome analysis it seems that   the instance type 'i2.2xlarge' is a good place to start.  A tutorial create by @gatoravi clearly documents how to do the installation using Amazon AWS.  This can be found here:

https://github.com/genome/g

[2014-08-18 21:00] malachig commented on #147
Ok, that will be most welcome.  Leaving open for now.

[2014-08-18 22:09] malachig commented on #53
I believe (1) is now complete.  We will continue to defer (5) until it is a higher priority,

[2014-08-20 21:53] malachig opened #151 "Make a tutorial that describes how to create new processing profiles based on existing ones"
Using examples from ref-align, somatic-variation and rna-seq create a tutorial that explains how to modify an existing pipeline in various ways:

For example,
- create a reference-alignment processing profile with modified read aligner parameters.
- create a WGS somatic-variation processing profile that drops the SV detection step
- create an rna-seq processing profile that uses additional CPUs fo

[2014-08-22 18:52] ghost commented on #147
I expanded the documentation to include Ensembl annotation importing.  Resolving.

[2014-08-22 18:52] #147 closed, assigned to nobody

[2014-08-22 20:17] ghost commented on #147
Should have mentioned that genome/gms-core@73c5a76eb31d8e556810e8d57a68e5fd65aaf1d0 was necessary to make the Ensembl import work.

[2014-08-22 20:38] malachig commented on #65
This testing was successful.  Complete analyses were run on the GMS installed at a residential home on consumer hardware where all data was downloaded over a personal cable internet service.  This is a proof-of-principle that a citizen scientist could install the GMS and use it for their own whole genome, exome and transcriptome data analysis.

Closing this issue.

[2014-08-22 20:38] #65 closed, assigned to obigriffith

[2014-08-22 20:39] malachig commented on #78
We are currently not testing on this blade.  Testing is continuing on clia1, Amazon AWS, Mac desktops, consumer hardware, etc.  Closing this issue for now.

[2014-08-22 20:39] #78 closed, assigned to gatoravi

[2014-08-22 20:45] malachig commented on #138
@mkiwala-g, was there a resolution for this issue?  It sounds like you are creating a precise64 VM without using `make vminit` and then encountering this issue.  Is there a way to cover this install path within the Makefile that would not affect the documented method of installing via vagrant?  Or is this perhaps an issue that can be resolved by improving the install docs?

[2014-08-22 20:45] malachig commented on #141
Since this has been moved to a tutorial on the Wiki I am closing this issue now.  Nice job @gatoravi

[2014-08-22 20:45] #141 closed, assigned to gatoravi

[2014-08-22 20:47] malachig commented on #143
@gatoravi what ever happened with this issue?

[2014-08-22 20:49] malachig commented on #149
Testing of the GMS on AWS EC2 is going smoothly.  Since we have accomplished the initial task of getting the install to happen smoothly and all tests with real data have completed successfully I am closing this issue.

[2014-08-22 20:49] #149 closed, assigned to malachig

[2014-08-22 22:01] malachig commented on #57
@mkiwala-g did you ever look into the issue above that: "clinseq update-analysis filters out instrument data in the Solexa subclass. The data imported by this tool is in the "Imported" subclass. Is ok to remove the filter for Solexa only reads?"

I just went through the data import tutorial and encountered the same problem.  It seems that importing the data has worked but clin-seq advise does not

[2014-08-22 22:03] malachig commented on #57
Oh I see. I need to use the `--allow-imported` option

[2014-08-22 22:16] gatoravi commented on #143
this was fixed in master but not merged into gms-pub. I cherry-picked this change here https://github.com/genome/gms-core/commit/466aaafedd68cba0d43afda20ad9e3e75ea80b39
A new clinseq model build was run and the plots are generated correctly now. Closing this issue.

[2014-08-22 22:16] #143 closed, assigned to gatoravi

[2014-08-23 00:00] malachig commented on #57
Everything seems to be working smoothly with the imported data and builds using that data.  We will still want to make a more user friendly tool to help the naive user import their data but that can be accomplished as a separate issue when we have more clearly defined the requirements.

Really nice job on this @mkiwala-g

[2014-08-23 00:00] #57 closed, assigned to nobody

[2014-08-23 00:01] malachig commented on #53
Most of this is done and we have no detailed plan for (5) yet so I am going to close this issue now.

[2014-08-23 00:01] #53 closed, assigned to malachig

[2014-08-23 00:03] malachig commented on #42
Testing on clia1 is not active right now.  At some point we will need to perform a major merge of improvements from `gms-core master` into `gms-core gms-pub`.  At that time we should also include the latest versions of each major cancer analysis pipeline.  When that happens we will need to perform extensive testing again and clia1 is the best place to do this.  However, for now I am closing this i

[2014-08-23 00:03] #42 closed, assigned to malachig

[2014-08-23 01:49] ghost commented on #138
I no longer run into this issue.  I can't find any code changes that would appear to have resolved this issue.  One possibility could be that I was using an earlier point release, but I not confirmed that.

[2014-08-24 00:12] malachig opened #152 "Document disk usage stats for various GMS tests"
First make note of size of certain installation files and data files required during the priming stage
- apps-2014-01-16.tgz -> 823M
- apt-mirror-min-ubuntu-12.04-2014.04.02.tgz -> 2.6G
- All of GMS1 priming -> 129G
- GMS1.tgz -> 35G
- hcc1395 data -> 313G
- hcc1395_1percent -> 3.1G
- hcc1395_1tenth_percent -> 928M
- hcc1395_exome_only -> 27G

Next record observed disk usage during tests
- Base ub

[2014-08-25 18:26] gatoravi commented on #151
An initial version of this tutorial is [here](https://github.com/genome/gms/wiki/How-to-create-new-processing-profiles-based-on-existing-ones-%3F)

[2014-08-25 19:09] malachig commented on #150
The next step is make a version of this table (currently in Google doc) that can be embedded in the GMS Wiki.  I will attempt this using the Google docs publishing options.

[2014-08-25 19:24] malachig commented on #150
Apparently you can not embed a google doc in a github wiki.  For now I have created a page and linked to the URL for the published Google Doc.  This is probably fine for now.

[2014-08-26 16:16] malachig commented on #151
@gatoravi this is a great start.  It looks like comments explaining each step and screenshot from the somatic-variation example onwards still need to be added.

[2014-08-26 18:58] gatoravi commented on #151
ok this is done. please have a look. closing for now, re-open if anything.

[2014-08-26 18:58] #151 closed, assigned to gatoravi

[2014-08-26 21:23] malachig commented on #150
A draft of this table is now in place as Supplementary Table 6 of the manuscript.

A more detailed version in Google spreadsheet is available here:
https://docs.google.com/spreadsheets/d/1o8iYwYUy0V7IECmu21Und3XALwQihioj23WGv-w0itk/pubhtml

A Wiki page linking to this resource is available here:
https://github.com/genome/gms/wiki/The-GMS-compared-to-conceptually-related-resources

We should mainta

[2014-08-26 21:23] #150 closed, assigned to gatoravi

[2014-08-26 21:24] malachig commented on #138
Ok, I'm closing for now.  We can always re-open if it crops up again.

[2014-08-26 21:24] #138 closed, assigned to nobody

[2014-08-26 21:27] malachig commented on #152
A summary of these findings has been move to the GMS wiki here:
https://github.com/genome/gms/wiki/Storage-required-for-various-test-analyses

Closing this issue.

[2014-08-26 21:27] #152 closed, assigned to malachig

[2014-09-07 20:10] obigriffith opened #153 "Collect testimonials from beta users"
We have solicited a number of beta testers of the sGMS. A github issue/thread might be a good place for this feedback to be submitted before choosing excerpts to feature on a wiki page: https://github.com/genome/gms/wiki/Testimonials

[2015-02-17 23:51] malachig opened #154 "Update installer to use latest versions of Vagrant and VirtualBox"
Update the install process (Makefile) to install the latest version of Vagrant and VirtualBox for Mac.  Test to make sure things still work.

First uninstall the old versions of VirtualBox and Vagrant on the test machine.
- An uninstaller comes with the original DMGs.  e.g.
http://download.virtualbox.org/virtualbox/4.3.6/VirtualBox-4.3.6-91406-OSX.dmg
https://dl.bintray.com/mitchellh/vagrant/Vagra

[2015-02-18 00:23] malachig commented on #154
Currently testing this on my laptop...

[2015-02-18 15:32] malachig opened #155 "vm vagrant install fails with rake-10.1.1 error"
Trying to complete installation on a Mac pro using VirtualBox and Vagrant installation option.  Getting this error:

[code]

[2015-02-18 15:41] malachig commented on #155
The source of this error is not immediately obvious.

[code]

shows `Using rake 10.1.1`

I'm guessing this is some issue relating to multiple versions of Ruby ...

[code]

[2015-02-18 16:32] malachig commented on #155
Here is the make target that is failing:

[code]

Questions, I have.
- Why not use rbenv to manage this ruby app?
- Why are we running `/usr/bin/gem1.9.1 install bundler` and `bundle install` as root?  These commands result in warnings that installing your bundle as root will break this application for all non-root users.  The very next thing we attempt to do is run a rake task as the `www-data` u

[2015-02-18 16:55] malachig commented on #155
It seems that the installation will succeed if I change:

[code]

to

[code]

Will this cause problems for other installation types?  Why was the double `bundle exec` being used in the first place?  And why was this working for so long, and no longer works now?  Perhaps @acoffman can provide some guidance...

[2015-02-18 16:56] sakoht commented on #155
I don't recall the details on this.  I modified some version of the install script @acoffman and Ben were using ...but I'm not blaming them for my butchery. :)

[2015-02-18 17:14] malachig commented on #154
So far there have been no issues with these tests.

[2015-02-18 18:26] acoffman commented on #155
Hrm, I'm not sure why there would be a double `bundle exec`, I definitely wouldn't think that was intentional. Removing it should be safe as far as I know!

[2015-02-18 18:52] malachig commented on #155
Ok, thanks @acoffman and @sakoht.  I'm testing this change.  It definitely seems to resolve the issue in the vagrant VM install.  Making sure it also works when installing in an Amazon instance where we are using a slightly different flavor of Ubuntu 12.04.

[2015-02-18 19:00] malachig opened #156 "Transition from use of 'gms-pub' branch of 'gms-core' repo to 'gms-pub' branch of 'genome' repo"
Several months ago, TGI started committing all GMS code to a new repo called 'genome' in GitHub where all commits are submitted as pull requests and subjected to code review.  At this time the old 'gms-core' repo was maintained to prevent the standalone GMS installer from breaking.  The only branch retained on 'gms-core' was the 'gms-pub' branch used by the installer.

The new repo is here:
https:

[2015-02-18 19:05] malachig commented on #154
This appears to be working fine. Its nice to be able to take advantage of all the latest fixes/improvements for both VirtualBox and Vagrant.  Relevant commit:

https://github.com/genome/gms/commit/738d53ddadb0f6b3db64d93d61fc0f139d9d1fe3

[2015-02-18 19:05] #154 closed

[2015-02-18 19:11] malachig commented on #156
I have not noticed any issues with the installation related to this transition from gms-core repo to the genome repo (this is not surprising, it should not matter where we clone from).

Relevant commit: https://github.com/genome/gms/commit/7b38d7aa2c8106add70e81b1c38ce71920ddfdc8

[2015-02-18 19:14] #156 closed

[2015-02-18 19:23] malachig commented on #155
This seems to be working.  Still no explanation of how it was working before or why it stopped working...

Relevant commit: https://github.com/genome/gms/commit/907433ba70f9d56a363ad7f64e07df8aef5be1f3

[2015-02-18 19:37] malachig opened #157 "Import test data into public AWS instance of sGMS and set up builds but do not run them."
Step 1.
Create a new Amazon sGMS instance and make sure this procedure is actually still working correctly:
https://github.com/genome/gms/wiki/Beginner%27s-Guide-to-Data-Import

Step 2. Once we are satisfied that this will work, we want to use the data import procedure to import some test data into the Amazon instance we are keeping running.  We should set up this data and get builds ready to run,

[2015-02-19 23:01] gatoravi opened #158 "reduce lsf resource requirement for RNASeq pipeline."
The current lsf resource requirement for the "RnaSeq Cufflinks Expression" step in the RNASeq pipeline is set to mem>64 GB. While this might be pretty fool-proof and work well inside our nodes at TGI it might not be ideal for the sGMS which might be installed on comparatively puny machines. 32 GB might be sufficient for the Cufflinks step ?
@jasonwalker80 might know more about this and where this

[2015-02-19 23:06] tmooney commented on #158
FWIW we sometimes have failures where 64 GB is insufficient to run Cufflinks, and we have to make requests of 150 or even 300 GB for it to complete.

[2015-02-20 05:54] malachig opened #159 "Try the installation on a Debian system."
@sakoht will take a crack at that.

[2015-02-20 05:59] sakoht opened #160 "Do a fresh merge from master for genome."
This will entail getting a bunch of new software related to workflow, nessy, and other things.

[2015-02-20 05:59] sakoht opened #161 "Add notes to the GMS paper regarding ISO/IEC 9126."
Believe it or not this exists:
http://en.wikipedia.org/wiki/ISO/IEC_9126

[2015-02-20 06:02] malachig commented on #160
Known or expected sources of issues
- [ ] schema changes
- [ ] genome-snapshot-deps, stuff added to lucid but not precise
- [ ] workflow/ptero transition
- [ ] config of environment variables needed by GMS
- [ ] sometime missing tools that have not been packaged

[2015-02-20 16:49] jasonwalker80 commented on #158
Tom is correct about the Cufflinks resource demands.  If the sGMS RNA-seq processing profile were to run in 'reference only' mode and the parameters for --max-bundle-length and --max-bundle-frags were returned to the default values, I think 32GB would be sufficient.  Internally, we have determined we want de novo transcript mode (reference-guided mode is being phased out) and values of 10 million

[2015-02-20 17:02] jasonwalker80 commented on #160
Reposting here for @mkiwala-g "Nessy is the new locking service, and Ptero is the replacement for workflow.  GMS is not dependent on either of these systems at this time, so merging in the latest master should not make sGMS dependent on these new systems."

[2015-02-22 19:01] sakoht commented on #160
Ah interesting.

So "genome model build start" won't run into any problems in a world
without them?

I won't claim to understand, but glad if it's going to be that easy.

On Fri, Feb 20, 2015 at 9:02 AM, Jason Walker notifications@github.com
wrote:

[2015-02-22 19:40] sakoht commented on #160
The `gms-pub` branch now with has the latest `master` merged.

The changes were pretty minimal.  I made `gms-pub-before-plos-merge-from-master` to track the pre-merge point for convenience.

I also merged the latest UR and tagged it as `gms-pub-2015.02.22`, but there are no actual differences with UR, so it effectively just puts on on the latest master, but it won't change.

Workflow is a little m

[2015-02-22 19:49] sakoht commented on #160
I pushed up a new `gms-pub` branch for workflow.  It keeps some of the changes I made from master from last time, but merges all other changes.  The merge went well, so we'll see if it builds.

[2015-02-23 01:45] malachig commented on #160
Since the sGMS installer, automatically pulls from `gms-pub` it seems likely that this might break the installer and various analyses in our example tutorials until we have a chance to work through all the unexpected issues/dependencies.  In the past there were at least ~10 of these each time we did a merge after a while.  I think in those cases we started by creating a gms-pub-merge branch for ea

[2015-02-23 02:16] malachig opened #162 "Genome::Sys::Lock::backends error"
Running the installer since the merge I now get this error on initial priming of the genome database:

[code]

This type of error is not immediately reminiscent of error we observed in past merge attempts.  Though issues relating to changes in the db schema were common.

[2015-02-23 02:18] sakoht commented on #160
We can rename those branches.  I'll do that.

Sent from my iPhone

[2015-02-23 02:18] malachig commented on #160
There does seem to be an error related to resource locking on attempt to prime the database now: #162

[2015-02-23 02:21] malachig commented on #162
It looks like locking (with respect to 'scope') was recently reworked (Jan/2015) by Mark Burnett.  It possible that there is some expectation/environment related to this that is not being met in the standalone environment now.

[2015-02-23 02:33] sakoht commented on #160
So I renamed the branches.  The old regular gms-pub branches are back where they were.

The new install in the `gms` repo is on branch `gms-pub-2015.02.22`.
When it uses genome, ur and workflow, it uses the branch/tag `gms-pub-2015.02.22` for each of them.

So to test the new hypothetical merge:

[code]

[2015-02-23 02:34] sakoht commented on #162
@mkiwala you mentioned the nessy vs. old split.  Is there a way to configure this to work with the old locking, since nessy isn't ready yet?

[2015-02-23 15:53] mkiwala commented on #162
In `lib/perl/Genome/Site/TGI/Extension/Sys/Lock.pm` locking backends are registered for different locking scopes.  This error messages sounds like the `site` scope is being used (perhaps by default), yet no locking backend has been added for that scope.

The concept of scopes was introduced recently after it was discovered that some code was requesting a lock on a local filesystem path called `/tg

[2015-02-23 22:22] malachig commented on #162
One possible fix.

Create a new site module and place necessary setup in there.  For example to configure the 'backends' it could contain the following.

Genome/Site/SGMS.pm

[code]

Then update:
Genome/Site/edu/wustl/gsc.pm

Change:

[code]

To:

[code]

[2015-02-24 00:12] malachig commented on #162
One thing that confuses me still.  How does `Genome/Site/edu/wustl/gsc.pm` get loaded?

Within `Genome/Site.pm`, the hostname is parsed and based on that `Genome/Site/edu/wustl/gsc.pm` gets loaded on all machines inside TGI, and within `gsc.pm` we load `Genome/Site/TGI.pm`.

However, in the standalone GMS we won't know what the domain is going to be...  So how do we ensure that this stuff gets loa

[2015-02-24 19:04] mkiwala commented on #162
I agree that the change to `Genome::Site::edu::wustl::gsc` to add the `use Genome::Site::StandaloneGMS` is not going to be effective outside of TGI’s network.  We’ll need to find another place to load `Genome::Site::StandaloneGMS`.

I’m not sure what would make the most sense.  I think it would work to just add the `use Genome::Site::StandaloneGMS` statement to Genome/Site.pm, bypassing the hostna

[2015-02-24 19:39] gatoravi commented on #162
is $GENOME_CONFIG supposed to do something similar to what @mkiwala describes ?

[2015-02-24 19:44] malachig commented on #162
I agree, it seems that perhaps `GENOME_CONFIG` is already there to meet this goal?  It has been there for a while, initially added by ddooling and modified by @nnutter.  Perhaps Nathan can comment on its intended function.

This search:

[code]

Yields this result:

[code]

Perhaps it was added with this idea in mind a while back, but never wound up being used.  If that's the case I say we try it

[2015-02-24 21:35] gatoravi commented on #162
Genome::Sys::Lock.pm has some scopes hardcoded,
https://github.com/genome/genome/blob/master/lib/perl/Genome/Sys/Lock.pm#L210-212
Looks like backends (not sure what these are.) need to be created for each of these scopes in order to be able to run any Genome commands.
These scopes might be specific to TGI and might not be relevant to the SGMS as of now. To go ahead with the GMS 2 alternatives can

[2015-02-24 22:01] gatoravi opened #163 "schema errors during Make are not caught"
Errors like

DBD::Pg::st execute failed: ERROR:  duplicate key value violates unique constraint "group_pkey"
DETAIL:  Key (id)=(1) already exists. at /opt/gms/UMBIU92/sw/ur/lib/UR/DBI.pm line 888.
ERROR: Genome::DataSource::GMSchema: Error executing SQL:
 INSERT INTO disk.group (unix_uid,unix_gid,subdirectory,permissions,name,id) VALUES (?,?,?,?,?,?)
PARAMS: '2001', '2001', 'info', '775', 'reads',

[2015-02-25 15:28] gatoravi commented on #163
this error might have been caused due to trying to insert same values into the table again(by re-running make) hence violating some primary-key  constraints. It would still help to catch these and die during the make process.

[2015-02-25 16:29] sakoht commented on #162
So Genome/Site.pm was supposed to have generic/external defaults, and Genome/Site/TGI.pm was supposed to override them.

The question was then how does the system automatically figure out that it is a TGI system?

Because parsing the hostname leads to edu/wustl/gsc.pm, this is the TGI-specific entry point.

So, can we register the default handlers in Genome/Site.pm, and let Site/TGI.pm override th

[2015-02-25 16:31] sakoht commented on #162
At one point there was another subnet that was also active at TGI and it, like edu/wustl/gsc.pm also used Site/TGI.pm.

[2015-02-25 17:29] gatoravi opened #164 "ERROR: column build.created_at does not exist"
Running the meta-data importer results in what looks like a schema error.

[code]

[2015-02-27 04:38] gatoravi opened #165 "schema error with table "software_result""
Running the importer causes what looks like another schema error.
[code]

[2015-02-27 04:40] gatoravi commented on #164
an attempt to address this is [here](https://github.com/genome/gms/commit/7948a2fee2a63297eddcf57dbdf6446afc79d66d). testing is underway to see if this worked.

[2015-02-27 21:50] gatoravi opened #166 "schema error related to table analysis_project_model_bridge."
These look like relatively new tables related to analysis projects. We might have to pull some/all of these tables, someone more familiar with how this was implemented would know. I see something similar with a lot of tables related to Genome::Process absent in the current schema dump, not sure if those tables are needed as well or we can get by without.

[code]

[2015-03-01 03:37] gatoravi opened #167 "Failed to find executable joinx version 1.9"
Genotype microarray builds fail due to missing version of joinx.
[code]

[2015-03-01 04:12] gatoravi opened #168 "Use of qw(...) as parentheses is deprecated"
Starting a ref-align build gives this error.
[code]

[2015-03-01 17:18] sakoht commented on #168
Fatal warnings turned-on?

[2015-03-02 17:33] gatoravi commented on #162
A couple of pull requests addressing this was made to genome/gms and genome/genome. We basically set $GENOME_CONFIG=Genome::Site::SGMS and configure two backends in Site/SGMS.pm

[2015-03-02 17:38] gatoravi commented on #166
this table was added to the schema dump here https://github.com/genome/gms/commit/2dcd9f4a5a159bd85ce8b2f02917857208d47aaf

[2015-03-02 17:39] gatoravi commented on #165
the software_result table was updated here https://github.com/genome/gms/commit/b8a994a6151e16f0c2418d19e13c20c1224381e9
and
https://github.com/genome/gms/commit/9079f131b1c858d8d168e32af9370947da984d05

[2015-03-02 17:44] gatoravi commented on #167
this is a replicate of #132 Closing this and re-opening that issue to keep comments in the same place.

[2015-03-02 17:44] #167 closed

[2015-03-02 18:07] gatoravi commented on #132
The procedure to create an APT tarball is here, https://github.com/genome/gms/wiki/How-to-create-APT-tar-balls-for-the-GMS-from-inside-The-Genome-Institute

[2015-03-02 19:21] gatoravi commented on #132
To get this rolling a PR was submitted here https://github.com/genome/genome-snapshot-deps/pull/14

[2015-03-02 21:23] gatoravi commented on #168
this is a bit cryptic to me. perhaps someone from APIPE would know better. @mkiwala any ideas ? Were fatal warnings turned-on recently or is this something completely unrelated to the qw() warning.

[2015-03-02 21:36] gatoravi commented on #168
This commit https://github.com/genome/genome/commit/f4c429d52584a3ad69f5a88b788865a7b68a3cc4 by @davidlmorton does turn fatal warnings on in lib/perl/Genome/Model/Build/RunsDV2.pm, why is this an issue on SGMS and not inside TGI ?

[2015-03-02 21:43] susannasiebert commented on #168
Looks like this is a warning starting with Perl 5.14 which is what SGMS is using. TGI is on an older Perl version

[2015-03-02 21:52] tmooney commented on #168
genome/genome#529 should fix this.

[2015-03-02 21:52] malachig commented on #168
Ok then, any objections to changing this code to:  `for $x (qw(a b c)) { ... }` ?

I believe this will be compatible with both old and new versions of Perl...

[2015-03-02 21:53] malachig commented on #168
Looks like @tmooney has resolved this while we were thinking about it.  ;).  Thanks!

[2015-03-02 22:03] gatoravi opened #170 "annotation reference build NCBI-human.ensembl/67_37l_v2 is not succeeded"
The annotation builds that are imported have a status "\<NULL\>" instead of succeeded. This causes the ref-aligns to be unstartable.
[code]
[code]

[2015-03-02 22:16] malachig commented on #170
Each of these builds has a status of 'Succeeded' within TGI.  It possible that the GMS code was updated to include this check and that the status of these builds was also updated.  Or its possible that they always were 'Succeeded' and for some reason, when we dump these builds from TGI and import them in sGMS this information is being lost somehow.

To test this theory, we should create a new meta

[2015-03-02 22:24] gatoravi opened #171 "Track the metadata-dump file in genome/gms repo."
Currently the metadata-dump which is imported by the installer is downloaded from an FTP site. It would be helpful to version track this file (as suggested by @mkiwala a while back.) This issue would track adding the metadata-dump to the gms repo. The Makefile will need to be modified to use this metadata-dump instead and it will be named after the model used to create the metadata-dump.

[2015-03-03 00:39] gatoravi commented on #170
Upon a quick test, a new metadata dump results in status = "Dummy" for these annotation builds. This does not resolve the issue of the ref-aligns not starting as they still complain about the lack of succeeded builds.

[code]

[2015-03-03 00:45] gatoravi commented on #170
This can be verified by looking at the dump itself, the status for these builds is exported as "Dummy".

[code]

In the previous dump, no value for status was being exported resulting in a "null" value for status.

[code]

Perhaps the check for a succeeded build is a new improvement to the ref-align pipeline.

[2015-03-03 14:48] malachig commented on #170
So the TGI DB says 'Succeeded' but even a fresh dump right now results in 'Dummy' in the metadata dump file?  Why?

[2015-03-03 21:18] malachig opened #172 "Establish a procedure to get the vagrant VM install to work on clia1"
In the latest re-image of clia1 I was unable to get the vagrant install to work.  Perhaps it was in a half baked state.

- Perhaps @mcallaway could update the puppet manifests so that Vagrant and VirtualBox installation is automatic on clia1?
- If that is not practical, we should figure out how to get a clean install of these on clia1 after it has been re-imaged.

Since clia1 is our main place for

[2015-03-03 21:24] gatoravi commented on #170
This is related to genome/genome@8c37fa177d513f2fb748716947872b7786f67a12 in lib/perl/Genome/Model/Command/Export/Metadata.pm
@tmooney could this be  `$obj->{status} = $obj->status ||  "Dummy";` instead. I think we'd like to retain the build's original status here, will this be ok ?

[2015-03-03 21:35] tmooney commented on #170
I couldn't tell you why that was set to `Dummy`--that is from the [original version of the exporter](https://github.com/genome/genome/blob/c5cfb29cfaae4421fab5849b0ff5fbc09c78631f/lib/perl/Genome/Model/Command/Export/Metadata.pm#L287-L290)--but I don't see why you couldn't retain the status if you wanted to.

[2015-03-03 23:22] gatoravi commented on #170
Thanks @tmooney, this is addressed here https://github.com/genome/genome/pull/535. This will have to be pulled into the sgms branch.

[2015-03-04 01:47] malachig commented on #155
This problem seems to be resolved.  Closing now.

[2015-03-04 01:47] #155 closed

[2015-03-04 01:49] malachig commented on #158
@gatoravi, lets try this with 32 GB.

[2015-03-04 01:51] malachig commented on #158
@jasonwalker80 or @tmooney can you remind us how this gets configured?  Hard coded in the code?  Where specifically?

[2015-03-04 05:31] malachig opened #173 "Create a vagrantfile that launches an AWS sGMS instance"
@sakoht has an example of this. ;)

[2015-03-04 05:50] sakoht commented on #173
Example Vagrantfile below.  It requires that the user be set up to use AWS in general.

[code]

https://github.com/nabeken/vagrant-aws

[2015-03-04 14:02] sakoht commented on #158
There is an rusage method in Genome::InstrumentData::AlignmentResult::Tophat.

Is this the place?

[2015-03-04 14:19] tmooney commented on #158
You can find it in [`Genome::Model::RnaSeq::Command::Expression::Cufflinks`](https://github.com/genome/genome/blob/67cfd1cc1ce23d5c0de01ae43a493d61e262025c/lib/perl/Genome/Model/RnaSeq/Command/Expression/Cufflinks.pm#L10-L12).

[2015-03-04 21:30] gatoravi commented on #132
a new apt-dump apt-mirror-min-ubuntu-12.04-2015.03.04.tgz was created with an updated list of tools. We are currently waiting to stage this to the FTP server and test using this APT-dump.

[2015-03-04 22:08] gatoravi commented on #162
this still needs to be merged into master. merged into the SGMS branch so that we can test this.

[2015-03-04 22:10] gatoravi commented on #168
this change will need to be merged from master. are we planning on another merge to get these in ?

[2015-03-05 19:32] gatoravi opened #175 "dindel-tgi1.01-wu1 dependencies unable to be installed."
dindel-tgi1.01-wu1 was recently added to the precise deps here https://github.com/genome/genome-snapshot-deps/commit/7e5045dd3a597f3ac6fee75eed26d37a1496ae37

It has a dependency libboost-program-options1.40.0 which is unable to be installed on precise.
[code]

[2015-03-05 20:35] malachig commented on #175
Doh.  In the past @mcallaway has been able to help us understand some of these dependency issues with precise vs. lucid.

[2015-03-05 21:30] gatoravi commented on #175
An attempt to address this is here https://github.com/genome/dindel-tgi/pull/1

[2015-03-06 04:18] gatoravi opened #176 "breakdancer1.4.5 install fails."
[code]

[2015-03-10 15:25] gatoravi opened #177 "ref-align builds fail with error The 'users' parameter did not pass the 'must contain sponsor and requestor' callback"
[code]

[2015-03-10 15:49] malachig commented on #177
Hi @tmooney, @nnutter, @apregier, @brummett.   I don't think this is related to PR https://github.com/genome/genome/pull/514, but I think that was the last PR relating to User.pm.  Any guesses as to why would might see this error in the SGMS:

`The 'users' parameter ("HASH(0x77e4ce8)") to Genome::SoftwareResult::User::with_registered_users did not pass the 'must contain sponsor and requestor' call

[2015-03-10 15:58] tmooney commented on #177
The error message means that the hash did not have a value specified for both `sponsor` and `requestor`.  One possibility is that the current user (in this case, `ubuntu`) does not exist in the `Genome::Sys::User` table, so `sponsor` ended up `undef`.

[2015-03-10 16:10] malachig commented on #177
Yeah I was wondering about the contents of that table...

On an SGMS instance `genome sys user list` returns nothing.  I don't immediately see a `genome sys user add`.  How are users added at TGI?

If we can replicate that maybe it can become part of the system priming procedure where we do things like defining disk groups, volumes, timeline event types, etc.

[2015-03-10 18:32] malachig commented on #177
We tried adding an `ubuntu` user to `Subject.Table` in postgres.  `genome sys user` now reports that user, but the same build error remains.  Possibly because other aspects of the user remain undefined?  For example, `role` and `role_member`.

Leading us back to the question of how users are created/added?

[2015-03-10 18:45] sakoht commented on #177
Did you try a run with UR_DBI_MONITOR_SQL=1?

The tables being queries will show up in stderr.  May be a clue.

[2015-03-10 19:08] gatoravi commented on #177
So with UR_DBI_MONITOR_SQL set this is the query that is being attempted,

[code]

In  `where subject.user.username = ?`  how do we decide which username to query for ? Maybe the user ubuntu needs to be added somewhere other than the table subject.user ? How are the sponsors set ? cc @tmooney any thoughts.

[2015-03-10 19:11] tmooney commented on #177
Internally we synchronize the users from LDAP.

The thing to check first is make sure `Genome::Sys->current_user` returns an object, something like:

[code]

[2015-03-10 19:36] gatoravi commented on #177
Yep, that seems to return 'ubuntu' as expected.

[code]

[2015-03-10 19:54] malachig commented on #177
@tmooney is there more information somewhere on the details of how users are synced from LDAP?  Is this something that is done in conjunction with systems and lims groups?  Is there a puppet or cron task that keeps on top of this?  Or initiated by someone with an admin role as people join/leave TGI?

[2015-03-10 20:03] tmooney commented on #177
It is run as a cron.  The command is [`Genome::Site::TGI::Command::SyncSysUserWithLdap`](https://github.com/genome/genome/blob/45ac622477e5bf9dd310fd7c547e0957a6280157/lib/perl/Genome/Site/TGI/Command/SyncSysUserWithLdap.pm).

As long as `Genome::Sys->current_user` returns an object that should generally be sufficient to satisfy the `sponsor` requirement for `SoftwareResult`s.

I would next check

[2015-03-10 20:59] gatoravi commented on #177
[code]

Looks like the 'sponsor' is undef.

[2015-03-10 21:07] tmooney commented on #177
Indeed.  That's the one that should get filled in with the `Genome::Sys::User` (or `Genome::Config::AnalysisProject`) object.  (So we're not barking up the wrong tree, at least!)

[2015-03-10 21:16] tmooney commented on #177
If you `bsub` my previous Perl command does it still produce a username?  If not, what does
`perl -M5.10.0 -MGenome -e 'say(join("\n", getpwuid $<));'` say?

[2015-03-10 21:27] gatoravi commented on #177
Yep, the previous command seems to work with `bsub`

[code]

The second command produces this output,

[code]

[2015-03-10 22:07] tmooney commented on #177
What is this model's `run_as` set to?  That also needs to be a user in the `Genome::Sys::User` table to make this work.

[2015-03-10 22:20] gatoravi commented on #177
:cake:

The `run_as` was set to **genome**. Upon adding a user **genome** with `insert into subject.user (name, email, username) VALUES ('genome', 'genome@temp.com', 'genome');` the build gets past the region where it failed before.

The sponsor dump now reads as follows

[code]

Now if we could somehow automate this ! Thanks a ton @tmooney

[2015-03-10 22:53] gatoravi opened #178 "refalign fails with error failure to find target_bed."
[code]

convertedbedresult were added as a software result here https://github.com/genome/genome/commit/84d56e0e24f066aca088f9201986b3f141128362

To fix this issue we can either not import the software result objects during the meta-data import or copy-over the required files as has been done for some other software results such as reference-alignment indexes.

[2015-03-11 01:28] malachig commented on #177
Gah, right I was forgetting about the `genome` user we create. Thanks @tmooney !

@gatoravi, following the strategy of other similar things, lets create a new priming step that runs at the appropriate time during install.  At the very least we need to add `genome` to the list of valid users (remember in the makefile this user is defined by `$GMS_USER`).  Do we actually need the `ubuntu` user?  Thi

[2015-03-11 01:34] malachig commented on #178
If they have been added perhaps we might need them down the road?

Assuming syncing of the ftp is working, it wouldn't be that hard to sync these new results over as well.  We would also need to update the tarball version as well...

[2015-03-11 16:48] gatoravi commented on #177
if I try to add a user with

[code]

I get an error that says only admins can add users. Whats the recommended way to add a role to a user ?
Also how would I add the first user who is an admin. Seems like a :chicken: and :egg: problem ?

[2015-03-12 15:16] gatoravi commented on #177
@tmooney or @sakoht any thoughts on this. basically we'd like to write a script which adds the 'ubuntu' and 'genome' users to the subject.user table.

[2015-03-12 15:58] tmooney commented on #177
It's not meant to be secure, so the restrictions on adding admins is only in the software.  You could get a database handle in a script and do something like this:

[code]

[2015-03-13 18:32] gatoravi opened #179 "error while sending a build report email."
This is new and I'm not sure what really triggered this. The error basically  with validation of the from email address which is set to `apipe@http://localhost` by default. The domain name can be changed by \$GENOME_EMAIL_DOMAIN, not sure if we actually need a real email-address that works or one that just validates.

[code]

[2015-03-15 17:15] gatoravi commented on #47
I'm seeing this same issue on a somatic-variation build. Looks like the gms-pub specific change was reverted in the recent merge/refactor in master. Compare https://github.com/genome/genome/commit/1b8a40cd0936dfa859d0acb510fc57e0c9bdc05f and
https://github.com/genome/genome/blob/master/lib/perl/Genome/Model/Tools/Gatk/Base.pm#L64

Figure out if master can be modified to use consistent paths.

[2015-03-15 17:36] gatoravi commented on #179
this looks vaguely familiar and I'm not sure whats going on here. I'd be curious to see if we can replicate it outside AWS. clia1 testing is on hold due to some issues with the box right now, testing on a VM might be another option.

[2015-03-16 04:37] sakoht commented on #161
I added content to the google doc.  We can move that into the paper or supplementary material as necessary.  It is probably too verbose for the paper.  Perhaps to verbose in general...

[2015-03-16 04:48] sakoht commented on #173
I pushed up Vagrantfile.standalone.aws.

It requires that 4 environment variables be set:
AWS_ACCESS_KEY
AWS_SECRET_KEY
AWS_PEM_PATH (full path to the downloaded .pem file.)
AWS_KEYPAIR_NAME (keypair name that goes with the above .pem file)

[2015-03-16 04:49] sakoht commented on #173
https://github.com/genome/gms/blob/ubuntu-12.04-2015.02.22/Vagrantfile.standalone.aws

[2015-03-16 04:51] sakoht commented on #173
To test (after setting environment variables):

[code]

Ideally we would have some of the subsequent logic in a shell-script, and un-comment provision.sh to run it automatically.

[2015-03-16 04:59] sakoht commented on #171
@gatoravi is this close-able?

[2015-03-16 14:30] gatoravi commented on #171
This is pretty much working now, the docs need to be updated to use the metadata file and that will happen once we are able to close the merge-testing branch.

[2015-03-16 15:15] gatoravi opened #180 "Can't locate File/Touch.pm in @INC"
Add Perl dependency to precise as added here to lucid.
https://github.com/genome/genome-snapshot-deps/commit/76308608db7418b59c10804481c9a2fd5f72c4c3

[2015-03-16 15:47] malachig commented on #173
This is cool.  Will give it a try.  @gatoravi have you tried this yet?  Lets chat about the details when you have a minute.  I guess as it is set up, it will only work in `us-east-1` and `us-west-2`?

Another question I have is, where do these `aws.security_group` values come from?

Can we rename these variables to something GMS related (e.g. `gms-aws-instance` and `gms-aws`)?

[code]

If we can g

[2015-03-16 17:57] gatoravi commented on #52
I see a similar issue with Pindel in the somatic-variation workflow,

[code]

[2015-03-16 18:17] gatoravi opened #181 "ERROR: insert or update on table "instance""
The Pindel step in the somatic-variation workflow dies with this error,
[code]

This is a violation of the constraint - "instance_peer_instance_id_fkey".

Note - This constraint is absent in the latest schema dump, this might just be due to TGI having moved on from workflow to flow?

[2015-03-16 18:17] gatoravi commented on #52
On second thought, this might need a new issue actually. Opening #181

[2015-03-16 18:17] #52 closed

[2015-03-16 18:44] gatoravi commented on #52
Note - The fix for this old issue is here, https://github.com/genome/tgi-workflow/commit/28c525acf886850fd5e5e9e9325a933a5145d9cb

[2015-03-17 14:47] gatoravi commented on #181
@brummett , any idea why we might be seeing this again ? Last time you helped us switch the case of the table names to resolve this. We are currently testing using [this](https://github.com/genome/tgi-workflow/tree/gms-pub-2015.02.22) branch.

[2015-03-17 14:53] gatoravi opened #182 "Failed to run cummerbund"
Differential expression fails with this error.
[code]

[2015-03-17 15:54] sakoht commented on #182
It think that cummerbund is R.

Is it installed and installed the same way as at TGI?

[2015-03-17 16:21] jasonwalker80 commented on #182
There are issues with the R libraries used by cummerbund and incompatibilities with R versions used at TGI.  I can't recall all the specifics, but the current path forward is to use a PP that does not define cummerbund as a part of the DE model:
https://github.com/genome/genome/pull/558

[2015-03-17 16:22] malachig commented on #182
Yes, it is R.  I doubt that it is installed exactly as it is in TGI.  R installation remains a nightmare.  I believe, it is not working within TGI at the moment actually...

This seems to be relevant:
http://compbio.mit.edu/cummeRbund/faq.html

I suspect that some attempt was made to update CummeRbund and the version we are now attempting to install is no longer compatible with the version of Cuff

[2015-03-17 16:38] brummett commented on #181
We're still using Workflow for production work, and our Workflow tables are still in Oracle, so that's one difference.

How did you construct your Workflow schema?  It's possible there's a constraint in the Oracle schema that isn't present in your Postgres schema or in Workflow's metaDB.

[2015-03-17 17:00] brummett commented on #181
I noticed that your MetaDB is out of whack a bit.  The constraint names still refer to the Oracle names.  For example, `WI_PEID_FK` should be `instance_peer_instance_id_fkey`.

Also, UR doesn't use the `owner` column in the MetaDB any more.  All places that refer to owner `workflow` and table `workflow_instance` should be changed to have owner by an empty string and table `workflow.workflow_instan

[2015-03-17 17:41] gatoravi commented on #181
Our workflow schemas are re-constructed with the help of [this](https://github.com/genome/gms/commits/ubuntu-12.04-2015.02.22/setup/schema.psql) schema-dump from TGI.
However this schema dump is not identical to the dump that would be produced at TGI today if you ran `sudo -u postgres pg_dump -s genome` We've been minimally adding tables over as and when things break on the SGMS side, this is quit

[2015-03-17 18:51] brummett commented on #181
Are your workflow tables in the same database as all the other Genome tables?  If so, then you'll probably want to edit Workflow's MetaDB to minimize the damage the automated update tool might do.

You can update the MetaDB with the automated tool like this:
Edit the existing file lib/Workflow/DataSource/Meta.sqlite3-dump.  Remove all the `INSERT INTO` lines, leaving the `CREATE TABLE` lines in pl

[2015-03-17 19:56] gatoravi commented on #181
Running the `ur update classes-from-db` errors out,

[code]

[2015-03-17 20:19] brummett commented on #181
Then it looks like the MetaDB dump needs to be edited by hand.

One simple thing you can try is to edit lib/Workflow/DataSource/Meta.sqlite3-dump and remove all the `INSERT` statements again.  This will force UR to ask the DB what the schema looks like when it's time to save.  It should discover all the current FK constraints and save in the proper order.

If that works and you want to be bothered

[2015-03-17 21:03] gatoravi commented on #181
Sorry I should have mentioned, the previous error was **after** removing all the `INSERT` statements in `lib/Workflow/DataSource/Meta.sqlite3-dump`. Actually I get the same error whether I remove the INSERT statements or not.

[code]

Any idea what `Class Workflow::Service already exists for table 'workflow.service'` means here?
**Note** - I'm doing this on the SGMS instance and not inside TGI.

[2015-03-17 21:13] brummett commented on #181
Sorry, I wasn't clear... I meant to remove all the INSERT statements from the MetaDB dump, then try re-running the build (or whatever generated the original FK constraint error).

The error `Class Workflow::Service already exists for table 'workflow.service'` comes up because of what `ur update classes-from-db` is doing.  Since all the MetaDB info is wiped out by deleting the INSERT statement line

[2015-03-17 21:23] gatoravi commented on #181
ok, thanks, that helps a lot :) this is completely uncharted territory for me :game_die:

[2015-03-17 22:00] gatoravi commented on #181
removing all the INSERT statements from `lib/Workflow/DataSource/Meta.sqlite3-dump` and re-running the builds still results in the same FK constraint error.

[2015-03-18 15:04] gatoravi commented on #132
joinx(1.9, 1.10, 1.11) are now installed. closing this issue.

[2015-03-18 15:04] #132 closed

[2015-03-18 15:05] gatoravi commented on #47
not sure where to bring this up on master, Issues seem to be disabled for that repo. cc'ing @nnutter for ideas.

[2015-03-18 15:12] gatoravi commented on #158
Looks like this processing-profile is 'reference-only' and default parameters are used for ' --max-bundle-length' and '--max-bundle-frags',

[code]

So it might potentially be safe to use 32GB as the lsf parameter. Not sure how big of a priority this is but obviously this will be another point of divergence from master. If this sounds ok I can add this commit to the SGMS branch of genome.

[2015-03-18 15:13] gatoravi commented on #166
this looks like its resolved.

[2015-03-18 15:13] #166 closed

[2015-03-18 15:13] gatoravi commented on #165
this looks like its resolved.

[2015-03-18 15:13] #165 closed

[2015-03-18 15:15] gatoravi commented on #175
The PR is merged in and dindel-tgi1.01-wu1, I had trouble building the package from genome-snapshot-deps on my linus machine, seems to work fine on a precise-box. It might have something to do with the setup on my box. @iferguson90 was able to install it fine on his end. Closing this issue.

[2015-03-18 15:15] #175 closed

[2015-03-18 15:30] gatoravi commented on #162
this was addressed in master [here](https://github.com/genome/genome/pull/552) and the same changes are in the SGMS branches, https://github.com/genome/genome/commit/97226f1a17b48acf51c2325cb744b36c3f7fe9c8 and
https://github.com/genome/genome/commit/e859d9792fc77f20eb9af263ed83de7348a25d3d

[2015-03-18 15:31] gatoravi commented on #168
these awesome changes from master were merged into gms-pub-2015.03.04 , thanks Tom.

[2015-03-18 15:31] #168 closed

[2015-03-18 15:32] gatoravi commented on #164
this seems to have worked. closing.

[2015-03-18 15:32] #164 closed

[2015-03-18 15:33] gatoravi commented on #177
a script to do this is here, https://github.com/genome/gms/blob/ubuntu-12.04-2015.02.22/setup/prime-user.pl
The docs need to be updated to run this script after the install. The way to run this would be `perl prime-user.pl` Could someone have a look at the script and see if it does what we'd like ?

[2015-03-18 15:36] gatoravi commented on #182
ok looks like there are two options suggested here,
1. drop Cummerbund from processing-profile and remain consistent with master.
2. try to fix this problem by addressing the issue and maybe this might help with bringing Cummerbund back into TGI processing-profiles at some point.

[2015-03-18 15:39] gatoravi commented on #180
[code]

Manually installing the module seems to have worked, we just need to add this to the apt-dependencies and create a new APT dump as documented [here](https://github.com/genome/gms/wiki/How-to-create-APT-tar-balls-for-the-GMS-from-inside-The-Genome-Institute)

[2015-03-18 16:07] gatoravi commented on #178
this was added to the staging directory and is now available on the FTP site. a new tarball with these files was also created. instructions on how to do this are [here](https://github.com/genome/gms/wiki/Z-developer-notes)

[2015-03-18 16:08] gatoravi commented on #178
closing this.

[2015-03-18 16:08] #178 closed

[2015-03-18 16:11] gatoravi commented on #170
this has been merged into master and the SGMS branch. seems to be working now with the new metadata file which is described here, https://github.com/genome/gms/issues/171. Closing this.

[2015-03-18 16:11] #170 closed

[2015-03-18 16:12] gatoravi commented on #176
Travis updated the breakdancer CMake file to remove an erronous newline in the Description field. He also updated the apt-repo with the new .deb package This seems to have fixed the install and breakdancer installs fine now. Closing.

[2015-03-18 16:12] #176 closed

[2015-03-18 16:13] gatoravi commented on #162
closing since it looks like the backends stuff was resolved.

[2015-03-18 16:20] brummett commented on #181
I'm out of simple fixes.

You could try reverting your UR checkout to `e78f78f23d`, the commit before this MetaDB change was merged in, and re-running the build.  That could help verify that the problem is what I think it is.  But the build could also fail if it requires any UR features added since then.

You could try editing the MetaDB dump by hand.  Change all the "owner" columns to empty strin

[2015-03-18 21:05] malachig commented on #177
@gatoravi can we run this automatically during install to at least add the genome user and the user running the installer?  We should also have instructions for adding additional users.

[2015-03-19 00:06] malachig commented on #182
I think option 1 is more practical at the moment.  Based on past experiences trying to work with the CummeRbund dependencies...

[2015-03-19 15:55] gatoravi commented on #177
do we want to merge the prime-user.pl script into prime-system.pl ?

[2015-03-19 22:30] gatoravi commented on #181
Some helpful info from Tony to help us debug this,
The short answer is that the MetaDB is used at commit time to deduce what the database schema looks like so it can construct the SQL needed to save all your changes.  When UR needs to load objects from the MetaDB, it looks at the date of the sqlite3 database file and the dump file.  If the dump is newer, then it repopulates the database file from

[2015-03-20 14:47] gatoravi commented on #181
more info:
 There are components to do each of these two things:
- **look at the classes set to use a datasource, and have them write out data to their metadb for that datasource.**
  Workflow->get_material_classes() will return a list of class_metas for all the classes in all the modules in the Workflow namespace.  You can grep those for $class_meta->data_source_id eq 'Workflow::DataSource::Insta

[2015-03-20 15:42] malachig commented on #159
Testing install on Debian in a sandbox.  Use Debian Wheezy as this is closest to Ubuntu Precise:

[code]

[2015-03-20 16:30] malachig commented on #159
Using the above approach I am able to get started but quickly encounter an error when attempting to download the APT package snapshot.  I can get around this by using `wget` instead of `$(FTP)` in the Makefile.  The packages are downloaded, but then when I attempt to install them I encounter this cluster of broken package dependencies:

Some packages could not be installed. This may mean that you

[2015-03-20 16:47] brummett commented on #181
That second bullet point is backwards.  If the `$temp` flag is true, it calls `__define__()` on MetaDB objects and they are not persisted at commit time.

If `$temp` is false, it uses `create()` on MetaDB objects, they are saved to the MetaDB at commit time, and it issues CREATE and/or ALTER TABLE statements to the real database.

[2015-03-21 06:32] sakoht commented on #159
The best answer for the reviewer is to keep them away from mixing a GMS server install with other platforms on the same instance.

Possible text:

The GMS is _not_ something you add to an _existing_ Linux host/server.  It is an appliance server that happens to be built on a Ubuntu Linux core.  You should install it on its own machine, or use a VM or Docker container on an existing server.  Even if

[2015-03-23 18:47] gatoravi commented on #180
a new APT dump with this module was just uploaded, this will needed to be tested.

[code]

[2015-03-23 22:38] gatoravi commented on #180
A commit to use this APT dump is here https://github.com/genome/gms/commit/c38a559337562695ced51b995abcb7b62208bb41

This is now being installed correctly,

[code]

closing this.

[2015-03-23 22:38] #180 closed

[2015-03-23 22:39] gatoravi commented on #177
The prime-user script was merged into the prime-system script here,
https://github.com/genome/gms/commit/364ac63925c708230ff273312cb933fd80af11f7

The way to run this script now is,

[code]

[2015-03-25 14:58] gatoravi commented on #182
The Differential Expression(DE) processing-profile we'd like to shift to looks like `March 2015 Differential Expression Candidate 1`

I believe the way to do this is to create a new DE model with this processing-profile and update our ClinSeq model to use the new DE model. A new metadata-dump will then have to be created and imported which will pull in the new DE model and the updated DE processin

[2015-03-25 16:18] gatoravi commented on #47
This was added to the SGMS branch here, https://github.com/genome/genome/commit/b62e2b09651ce966bfc0b21b0ddde49c89b58229
We are divergent from master on this and might come up again.

[2015-03-25 16:30] malachig commented on #182
Yes, that is how we have done it in the past.

[2015-03-26 20:42] gatoravi commented on #182
This was done as follows,

[code]

The metadata file was updated here,
https://github.com/genome/gms/commit/3445c52f044fc6cb45db71c606f8e43baa8e35fc

[2015-03-28 02:44] gatoravi opened #183 "missing cufflinks version."
Differential expression fails with,
[code]

[2015-03-30 01:19] sakoht commented on #181
Hey @brummett, I was just syncing up with @malachig and @obigriffith on this.  Wanted to jump in and help if possible.

Just wanted to check on a few things to make sure my memory is correct:
1. It seemed like maybe we were going the wrong direction with the "ur update classes" initially, right?  We have class definitions that match the main line, and we just need to make a db that functions.
2. A

[2015-03-30 01:20] sakoht commented on #181
All of the above aside: the error is coming from DBD:Pg.  This means there is an _actual_ constraint in the db that is being violated.  Not an issue with the metadata?

The constraint was either created by the db init script for the sGMS, or made dynamically because of the class structure at some point.

We could:
1. Find that constraint and drop it at the db level, and see if the build finishes.

[2015-03-30 03:03] gatoravi commented on #181
Hi Scott, the constraint is in the schema dump here - https://github.com/genome/gms/blob/ubuntu-12.04/setup/schema.psql#L3207
I'm not sure I understand your point number 3, could you elaborate?
Also, is there a way to see if this constraint is still being used inside TGI or if its SGMS specific?

[2015-03-30 05:48] sakoht commented on #181
To test, connect to the database and run "drop constraint $name", and try to re-run the build.

If that works, delete the constraint from that file so it isn't re-created.

#3 you can ignore if all of this works.  If the constraint re-appears, the property tied to the constraint should be set to 'is_optional => 1'.

[2015-03-30 14:24] brummett commented on #181
On Sun, Mar 29, 2015 at 8:19 PM, Scott notifications@github.com wrote:

I'm out until Wednesday.  If you don't have it figured out by then, I can
try stepping through UR's sync_database and see what's going on.

-- Tony

[2015-03-30 21:56] gatoravi commented on #181
I tried two things,
1. As per Tony's suggestion I updated a table name in the metadata dump - 'workflow_service' to 'service' and changed the constraint 'WI_PEID_FK' to 'instance_peer_instance_id_fkey'
2. A pindel sub-step was crashing due to a lock being created on `/`, this is related to https://github.com/genome/gms/issues/162 An attempt to fix this is on https://github.com/genome/genome/pull/6

[2015-03-31 02:01] sakoht commented on #181
Nice.

[2015-03-31 14:32] gatoravi opened #184 "'pdftk' not found"
clin-seq fails with this error,
[code]

[2015-03-31 14:53] gatoravi opened #185 "bedtools not found"
clinseq fails with this error,
[code]

We need a newer version,
On clia1,
[code]

On linus
[code]

[2015-03-31 15:02] gatoravi opened #186 "bump up version of bam-readcount in clinseq."
Currently version0.4 is used which does not support options like `-i`
[code]
Bump this up to 0.6

[2015-03-31 15:55] malachig commented on #186
I feel like there were some issues with v0.6 that were fixed in v0.7.  Maybe we should go straight to v0.7?

[2015-03-31 15:59] ernfrid commented on #186
I would recommend that.

[2015-03-31 16:31] gatoravi commented on #186
ok, 0.7 it is.
The way to do this is, first copy the currently used clinseq model (inside TGI) to a new model with an updated processing-profile that uses v0.7, next make a metadata dump using the new model and finally import the new metadata into the SGMS. The processing-profile we'd like to use is `ac594e8c10ac420aaf8e6cfa64888e92   January 2015 Clinical Sequencing`

[2015-03-31 19:40] gatoravi commented on #185
A new APP dump was created as described [here](https://github.com/genome/gms/wiki/How-software-gets-installed-in-the-standalone-GMS), this was then staged and uploaded to the FTP site.  The Makefile was updated to use the updated APPs [here](https://github.com/genome/gms/commit/d1936332e23953e570dfb5b61caed34167006ff5)

[2015-03-31 19:46] gatoravi commented on #184
pdftk was added to the list of the utils being installed [here](https://github.com/genome/gms/commit/c9f895813e36e55e9afd057a730393629f373e63)

[2015-03-31 20:54] gatoravi commented on #186
This was done as follows,

[code]

[code]

[code]

[code]

[code]

[2015-03-31 20:55] gatoravi commented on #183
this is addressed here,
https://github.com/genome/genome-snapshot-deps/pull/26

[2015-04-01 16:10] gatoravi opened #187 "missing DoCM file"
ClinSeq needs a DOCM file in the cancer-annotation db,
Currently it dies with
[code]

[2015-04-01 16:50] gatoravi commented on #187
The PR is [here](https://github.com/genome-vendor/genome-db-tgi-cancer-annotation-data/pull/1), @malachig  could you have a look at this and merge it in if it looks good. Thanks!

[2015-04-01 19:44] gatoravi opened #188 "add sciclone and cn.mops"
cn.mops and sciclone are now used in clinseq. These are both R packages which need to be installed on the sgms. It looks like all our R packages are installed using the 'renv' method described [here](https://github.com/genome/gms/issues/126). It's currently unclear how to add new R packages using this method.

[2015-04-01 22:10] malachig commented on #188
Hey @mcallaway, do you remember how this R package gets built.  It seems like we just install one package `renv` and it dependencies we getting a working R install that is the correct version, is configured properly, has all the linux system dependencies we need (Cairo, etc.) and also has all of the R and Bioconductor libraries we need installed within it.  How does all of this magic happen?

Are

[2015-04-02 15:12] gatoravi commented on #188
The packages in lucid, [here](https://github.com/genome/genome-snapshot-deps/blob/master/lucid/genome-snapshot-deps-r.depends), that we need in precise currently are,

[code]

[2015-04-02 20:49] gatoravi commented on #185
An attempt to fix this is here https://github.com/genome/genome/pull/621

[2015-04-02 23:02] gatoravi commented on #188
The goal here is to have a separate repo on github for the renv method or document clearly how this works and how to add/remove packages in the future.

[2015-04-03 15:04] gatoravi commented on #47
At closer look, it looks like master has an improved way of looking for JAR paths. We are still using the old method which we think is ok for now.

[2015-04-03 15:04] #47 closed

[2015-04-04 15:10] mcallaway commented on #188
I am making progress on the process for building the "renv" package, which will contain R 2.15.3 and our list of R packages. I'm noting a discrepancy in the list we have in genome-snapshot-deps-r.depends and the list I have in the "renv" package. I'm going to assume the r.depends list is more correct, update renv, and show you the results to see if we can come to agreement on what _should_ be in o

[2015-04-04 23:31] gatoravi commented on #186
This is fixed now, we need to test this on a fresh install before closing.

[2015-04-04 23:33] gatoravi commented on #185
This is fixed now, we need to test this on a fresh install before closing.

[2015-04-04 23:33] gatoravi commented on #184
This is fixed now, we need to test this on a fresh install before closing.

[2015-04-04 23:34] gatoravi commented on #183
This is fixed now, we need to test this on a fresh install before closing.

[2015-04-04 23:35] gatoravi commented on #177
We need to update the docs to reflect the new usage. This will be done when the test branch is merged into the main branch.

[2015-04-04 23:45] gatoravi commented on #161
this has been added to the main doc. closing.

[2015-04-06 15:01] #161 closed

[2015-04-06 15:02] gatoravi commented on #160
These branches are still being tested, to test this branch do the same as above,

[code]

[2015-04-09 15:45] gatoravi opened #189 "first build fails."
On clia1, the first build always fails with this error,
[code]

The subsequent builds succeed by re-creating the meta-db as,
[code]

This seems to happen only when two builds are launched together for the first time. For example, after a fresh install, running `gmbs model1 model2` results in this error.

[2015-04-09 17:52] sakoht commented on #189
What re-created the meta-db?

Did this happen automatically?

[2015-04-09 18:48] gatoravi commented on #189
Yeah, this happened automatically on the first build that I launch from the SGMS. All the subsequent builds that I launch run successfully. It does sound really weird but I have some pointers from Tony to help debug.

[2015-04-09 19:02] gatoravi commented on #172
I'm trying to get this to work and this is the error that I see,

[code]

[2015-04-09 19:08] gatoravi commented on #172
A couple more hints,

[code]

This is what the log /var/log/vbox-install.log has

[code]

[code]

[code]

[2015-04-09 20:09] gatoravi commented on #172
Ok, so I tried to install the required headers as follows,

[code]

Verify that the headers exist

[code]

Attempt VBox setup again,

[code]

That seems to get us past this to the next error.

[2015-04-09 20:10] gatoravi commented on #172
The next error that we see is,

[code]

[2015-04-09 20:53] gatoravi commented on #172
The above errors are related to permissions of `/tmp` on clia1,
On clia1 `/tmp` is a symlink pointing to `/opt/gms`, changing this to

[code]

gets us past this to the next error.

[2015-04-09 20:54] gatoravi commented on #172
Now we see,

[code]

[2015-04-13 17:38] gatoravi commented on #188
@mcallaway  has some awesome documentation on our internal page - [here](https://confluence.gsc.wustl.edu/pages/viewpage.action?title=Packaging+Omnibus&spaceKey=~mcallawa) The procedure outlined there has to be tested out the next time we add/remove an R package to the SGMS. This resource could be helpful to folks outside TGI as well.

The new version of renv is now installed as expected from the

[2015-04-13 17:39] #188 closed

[2015-04-13 17:40] gatoravi commented on #186
This has been tested and is working now.

[2015-04-13 17:40] #186 closed

[2015-04-13 17:40] gatoravi commented on #185
This has been tested and seems to work fine.

[2015-04-13 17:40] #185 closed

[2015-04-13 17:42] gatoravi commented on #183
Cufflinks is now installed succesfully,

[code]

[2015-04-13 17:42] #183 closed

[2015-04-13 17:42] gatoravi commented on #184
This seems to be working now.

[2015-04-13 17:42] #184 closed

[2015-04-13 17:43] gatoravi commented on #182
This processing-profile seems to work now. We no longer use CummerBund in the SGMS.

[2015-04-13 17:43] #182 closed

[2015-04-13 17:45] gatoravi commented on #179
This was fixed here - https://github.com/genome/gms/commit/be4368bcf5aef9452b18c4fd1a7f890a215c137e
Exim is now stopped before configuring the mail server. After the configuration exim is restarted again. We also get rid of a paniclog file, it is not immediately clear why the panic log appears except that there seems to be contention for the same port amongst multiple services. This seems to be wo

[2015-04-13 17:48] gatoravi commented on #187
This PR was merged in and the DOCM file is now found as expected.

[2015-04-13 17:48] #187 closed

[2015-04-13 17:49] gatoravi commented on #189
I haven't seen this issue re-occur on a fresh install. The Meta-db seems to be setup somehow before the first build starts, it must be one of the `genome` commands in the install that must trigger this. I'm leaving this issue open until we test on AWS.

[2015-04-13 17:51] gatoravi commented on #181
This might be related to https://github.com/genome/gms/issues/189 but closing this for now since the build succeeds. The PR was merged in here - https://github.com/genome/genome/pull/602 Master seems to handle this differently with separate environment variables for each lock. We could choose to go that way in the future.

[2015-04-13 17:51] #181 closed

[2015-04-16 19:21] gatoravi commented on #172
documenting install attempt on a re-imaged box,
The installer tries to install this .deb as a part of the install,

[code]

The .deb was obtained from here, http://dlc-cdn.sun.com/virtualbox/4.3.8/index.html
From a look at here, https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=462288,
it looks like the .deb might be incomplete but I don't think thats the case here

[2015-04-17 15:15] gatoravi commented on #172
Note - to delete a VirtualBox VM

[code]

[2015-04-18 02:37] malachig commented on #179
Hi @gatoravi .  I'm running some tests on AWS.  I have run some microarray builds and everything seems to work but the build winds up with a status of `Failed`.  There are no error logs shown when I run `genome model build view` but if I go to the build directory and look here:  `reports/Build_Failed/report.xml` I see the following error:

[code]

Sounds related to this issue...

If you want to se

[2015-04-18 04:37] gatoravi commented on #179
this is because the 'from' email address, "apipe@ip-XXX-XXX" fails to validate in Genome::Report::Email.pm, I think a fix for this could be changing the default 'from' address to $ENV{GENOME_EMAIL_NOREPLY}
If you'd like to run through the rest of the builds it should be possible now.

[2015-04-18 04:39] sakoht commented on #179
Hey did that Vagrantfile work for you by chance?

On Fri, Apr 17, 2015 at 7:37 PM, Malachi Griffith notifications@github.com
wrote:

[2015-04-20 16:29] malachig commented on #179
Hey @gatoravi, it looks like this is working.  Maybe we should commit the change you suggested.  @sakoht I don't think we had a chance to test the Vagrantfile.  Did it get pushed into the repo somewhere?

[2015-04-20 16:38] gatoravi commented on #179
Ok, I'll create a PR for the SGMS branch today. update - this is here https://github.com/genome/genome/pull/676
@sakoht 's Vagrantfile is in this issue https://github.com/genome/gms/issues/173, I don't think I have the AWS credentials to try it.

[2015-05-26 16:30] gatoravi commented on #179
This PR is now merged in and this issue seems to be resolved.

[2015-05-26 16:30] #179 closed

[2015-05-26 16:41] gatoravi commented on #177
The docs have been updated to reflect the new usage.

[2015-05-26 16:41] #177 closed

[2015-05-26 16:43] gatoravi commented on #189
This seems to be resolved with the metadata update here - https://github.com/genome/tgi-workflow/commit/fb625147a438f60919d1355744e2a047945e0a78

[2015-05-26 16:43] #189 closed

[2015-05-26 16:53] gatoravi opened #190 "exome ref-align 'coverage_stats' error"
Exome ref-align builds seem to generate a discreet error in the `reference_alignment_coverage_stats` step. The build still proceeds to completion and success but the error shows up in the logs in the reference_alignment_coverage_stats.*.err file.

[code]

[2015-11-19 04:19] GrubLord opened #191 "Include IDs in the Circos SVG, to facilitate interactive views"
Hi there,

I'm a researcher from the Garvan Institute, and I am interested in adapting your circos-generating code to add a bit of metadata regarding what data is being referenced by each <path> element, so as to allow something like Raphaël to navigate the diagram live in a web view, and allow me to use the circos as a navigation tool for the data output by GMS.

What's the procedure for joining

[2015-11-20 00:16] shu2010 opened #192 "genome sample create command doesnt exist"
Dear authors,

The run with downsampled demo data on both AWS instance as well as local installation were successful. However,  the command "genome sample create" to add external data doesnt exist on either the community ami SGMS_INSTALL_V3 or locally installed SGMS !!
Any work around this will be greatly appreciated.

Cheers

[2015-11-20 01:19] GrubLord commented on #192
This commit seems to resolve your issue:
https://github.com/genome/genome/commit/4a2e39d8cd43d1ff819b35144d1dac7576a97381

However, it is not yet in the "gms-pub" branch, which is used in the install process.

[2015-11-20 01:46] gatoravi commented on #191
Hi Liviu,
Thanks for your message. We'd be super excited for any contribution that you might have. Were you thinking of a specific Circos plot? Our ClinSeq pipeline generates a Circos image, the code for that is [here.](https://github.com/genome/genome/blob/master/lib/perl/Genome/Model/ClinSeq/Command/MakeCircosPlot.pm) The settings for the Circos file are generated in that Perl module which basic

[2015-11-20 01:50] gatoravi commented on #192
Hi,
Thanks for the message, that is a little strange. Were you following the tutorial referenced [here](https://github.com/genome/gms/wiki/Beginner's-Guide-to-Data-Import) Could you please post the command and the error that you get when you try to run the command?
Thanks,
Avi

[2015-11-20 03:35] shu2010 commented on #192
Thanks!!
Error with SGMS_INSTALL_V3:

![screen shot 2015-11-20 at 2 33 47 pm](https://cloud.githubusercontent.com/assets/15934207/11291404/d8b944ec-8f93-11e5-828b-8b8c8a56a1d3.png)

[2015-11-20 05:53] gatoravi commented on #192
@GrubLord is right, this commit https://github.com/genome/genome/commit/f3ea92e8f3d7978b4a27954004d3a174db5ade80 from @mkiwala seems to have somehow gotten clobbered while merging branches. Thanks for reporting this.

I've cherry-picked the commit onto the gms-pub branch. To pull this change into your AWS instance, please try to  `cd /opt/gms/${GMS_ID}/sw/genome` and run `git pull`. Alternatively,

[2015-11-24 01:23] shu2010 opened #193 "tutorial command for adding sequence reads to the system fails with demo SRA data"
Dear Authors,
This problem was encountered on the AWS instance.
 /opt/bam> genome instrument-data import basic --description='tumor exome 1' --import-source-name='GEO_SRA' --instrument-data-properties="clusters=72512840,target_region_set_name=$TARGET_SET" --source-files="$INSTRUMENT_DATA_DIRECTORY/SRR925765_1.bam" --library="$CAPTURE_LIBRARY_TUMOR"
2015/11/24 01:15:34 Genome::InstrumentData::Comma

[2015-11-24 01:41] shu2010 opened #194 "Re-priming the system"
Is there a way to re-prime the system without having the destroy the VM and re-install?
Thanks
Shu

[2015-11-24 17:01] mkiwala commented on #193
It looks like analysis project was made a [required property](https://github.com/genome/genome/blob/gms-pub/lib/perl/Genome/InstrumentData/Command/Import/Basic.pm#L15) for `Genome::InstrumentData::Command::Import::Basic` on the gms-pub branch.

I'm not sure whether some other code that uses imported instrument data is actually expecting the analysis project to be populated there or not.  A first s

[2015-11-24 17:34] julyin opened #195 "How to provision AWS instance with more than two volumes"
Hi,

When using an Amazon Instance with more than two disks (eg. i2.8xlarge), how should the storage be provisioned? Do I need to combine all the disks into one large volume called opt, or do I mount them separately and GMS will be able to see and utilise them? Do they need to be named in any particular way?

Many thanks,
Julia

[2015-11-24 18:27] gatoravi commented on #195
Hi Julia,
The way we provision the system is here, https://github.com/genome/gms/blob/ubuntu-12.04/setup/aws/preinstall.sh
As you can see the  "#Mount ephemeral storage" section shows the mounting of different volumes. You could have more than two volumes mounted using a similar procedure(I think as per Amazon's convention these would just be named xvdb, xvdc, xvdd etc.) We don't have any hard num

[2015-11-24 18:30] gatoravi commented on #194
I don't think this is possible, I'm cc'ing @sakoht and @malachig who might be able to advise better. `make db-drop` and `make db-rebuild` will get rid of the database tables and rebuild them but I don't think that's the step you are talking about here. Are you referring to running this script?
`./setup/prime-system.pl --data=hcc1395_1tenth_percent --sync=tarball`

[2015-11-24 18:37] sakoht commented on #194
Shu when you say you want to re-prime, what would you like to change/fix?

The primary goal of the prime-system script it to fill the starting database with a set of example models.  Do you want to delete and re-add those?  Or something else?

[2015-11-24 22:39] shu2010 commented on #194
@gatoravi , yes I am referring to the script: ./setup/prime-system.pl --data=hcc1395_1tenth_percent --sync=tarball..

@sakoht, I would like to change the system configurations like memory, storage, cpus etc..
Also, I would like to add my own samples to the system and **utilise the parameters** from the existing processing-profiles, models and builds.. If I start with data=none, these parameters ar